.meet {
  text-align: center; }
  .meet div .col-xs-12 {
    padding-top: 3%; }
    @media only screen and (max-width: 768px) {
      .meet div .col-xs-12 {
        padding: 5% 0 0 28%; } }
    @media only screen and (max-width: 600px) {
      .meet div .col-xs-12 {
        padding: 5% 0 0 20%; } }
    @media only screen and (max-width: 400px) {
      .meet div .col-xs-12 {
        padding: 5% 0 0 15%; } }
    .meet div .col-xs-12 .meet__team--people {
      width: 360px;
      height: 450px;
      opacity: 1;
      z-index: 50; }
      @media only screen and (max-width: 1200px) {
        .meet div .col-xs-12 .meet__team--people {
          width: 300px;
          height: 400px; } }
      @media only screen and (max-width: 992px) {
        .meet div .col-xs-12 .meet__team--people {
          width: 200px;
          height: 300px; } }
      @media only screen and (max-width: 768px) {
        .meet div .col-xs-12 .meet__team--people {
          width: 360px;
          height: 450px; } }
      @media only screen and (max-width: 500px) {
        .meet div .col-xs-12 .meet__team--people {
          width: 250px;
          height: 350px; } }
      .meet div .col-xs-12 .meet__team--people--1 {
        background: url("../img/meet_img_1.png");
        background-size: cover; }
      .meet div .col-xs-12 .meet__team--people--2 {
        background: url("../img/meet_img_2.png");
        background-size: cover; }
      .meet div .col-xs-12 .meet__team--people--3 {
        background: url("../img/meet_img_3.png");
        background-size: cover; }
    .meet div .col-xs-12 .meet__team--back {
      width: 360px;
      height: 450px;
      opacity: 1;
      z-index: -400;
      position: absolute;
      background-color: #95e1d3; }
      @media only screen and (max-width: 1200px) {
        .meet div .col-xs-12 .meet__team--back {
          width: 300px;
          height: 400px; } }
      @media only screen and (max-width: 992px) {
        .meet div .col-xs-12 .meet__team--back {
          width: 200px;
          height: 300px; } }
      @media only screen and (max-width: 768px) {
        .meet div .col-xs-12 .meet__team--back {
          width: 360px;
          height: 450px; } }
      @media only screen and (max-width: 500px) {
        .meet div .col-xs-12 .meet__team--back {
          width: 250px;
          height: 350px; } }
    .meet div .col-xs-12 .meet__team--background {
      opacity: 0;
      position: absolute;
      background: rgba(243, 129, 129, 0.8);
      background: -webkit-linear-gradient(rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8));
      background: -o-linear-gradient(rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8));
      background: -moz-linear-gradient(rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8));
      background: linear-gradient(rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8));
      width: 360px;
      z-index: 400;
      height: 450px;
      margin-top: 0%; }
      @media only screen and (max-width: 1200px) {
        .meet div .col-xs-12 .meet__team--background {
          width: 300px;
          height: 400px; } }
      @media only screen and (max-width: 992px) {
        .meet div .col-xs-12 .meet__team--background {
          width: 200px;
          height: 300px; } }
      @media only screen and (max-width: 768px) {
        .meet div .col-xs-12 .meet__team--background {
          width: 360px;
          height: 450px; } }
      @media only screen and (max-width: 500px) {
        .meet div .col-xs-12 .meet__team--background {
          width: 250px;
          height: 350px; } }
    .meet div .col-xs-12 .meet__team--imgs {
      position: absolute;
      z-index: 300;
      margin: 20% 0 0 20%; }
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .meet div .col-xs-12 .meet__team--imgs {
          margin: 50% 0 0 20%; } }
@-moz-document url-prefix() {
  .meet div .col-xs-12 .meet__team--imgs {
    margin: 50% 0 0 20%; } }
      .meet div .col-xs-12 .meet__team--imgs .meet__team--img {
        position: relative;
        padding: 15px 15px 15px 15px;
        margin: 50% 0 0 -5px;
        background-color: #fce38a; }
      .meet div .col-xs-12 .meet__team--imgs .meet__team--img:first-child {
        margin-top: 50%;
        content: url(../img/pictograms/meet_facebook.png); }
      .meet div .col-xs-12 .meet__team--imgs .meet__team--img:nth-child(2) {
        content: url(../img/pictograms/meet_twitter.png);
        padding-top: 19px; }
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          .meet div .col-xs-12 .meet__team--imgs .meet__team--img:nth-child(2) {
            padding-top: 15px; } }
@-moz-document url-prefix() {
  .meet div .col-xs-12 .meet__team--imgs .meet__team--img:nth-child(2) {
    padding-top: 15px; } }
        @media only screen and (max-width: 1200px) {
          .meet div .col-xs-12 .meet__team--imgs .meet__team--img:nth-child(2) {
            padding-top: 19px; } }
  @media only screen and (max-width: 1200px) and (-ms-high-contrast: active), only screen and (max-width: 1200px) and (-ms-high-contrast: none) {
    .meet div .col-xs-12 .meet__team--imgs .meet__team--img:nth-child(2) {
      padding-top: 15px; } }
        @media only screen and (max-width: 1200px) {
          @-moz-document url-prefix() {
            .meet div .col-xs-12 .meet__team--imgs .meet__team--img:nth-child(2) {
              padding-top: 15px; } } }
        @media only screen and (max-width: 1000px) {
          @-moz-document url-prefix() {
            .meet div .col-xs-12 .meet__team--imgs .meet__team--img:nth-child(2) {
              padding-top: 10px; } } }
        @media only screen and (max-width: 992px) {
          .meet div .col-xs-12 .meet__team--imgs .meet__team--img:nth-child(2) {
            padding-top: 14px; }
          @-moz-document url-prefix() {
            .meet div .col-xs-12 .meet__team--imgs .meet__team--img:nth-child(2) {
              padding-top: 10px; } } }
        @media only screen and (max-width: 768px) {
          .meet div .col-xs-12 .meet__team--imgs .meet__team--img:nth-child(2) {
            padding-top: 19px; } }
  @media only screen and (max-width: 768px) and (-ms-high-contrast: active), only screen and (max-width: 768px) and (-ms-high-contrast: none) {
    .meet div .col-xs-12 .meet__team--imgs .meet__team--img:nth-child(2) {
      padding-top: 15px; } }
        @media only screen and (max-width: 768px) {
          @-moz-document url-prefix() {
            .meet div .col-xs-12 .meet__team--imgs .meet__team--img:nth-child(2) {
              padding-top: 15px; } } }
        @media only screen and (max-width: 500px) {
          .meet div .col-xs-12 .meet__team--imgs .meet__team--img:nth-child(2) {
            padding-top: 14px; } }
  @media only screen and (max-width: 500px) and (-ms-high-contrast: active), only screen and (max-width: 500px) and (-ms-high-contrast: none) {
    .meet div .col-xs-12 .meet__team--imgs .meet__team--img:nth-child(2) {
      padding-top: 10px; } }
        @media only screen and (max-width: 500px) {
          @-moz-document url-prefix() {
            .meet div .col-xs-12 .meet__team--imgs .meet__team--img:nth-child(2) {
              padding-top: 10px; } } }
      .meet div .col-xs-12 .meet__team--imgs .meet__team--img:nth-child(2):hover {
        content: url(../img/pictograms/meet_twitter_white.png); }
      .meet div .col-xs-12 .meet__team--imgs .meet__team--img:nth-child(3) {
        content: url(../img/pictograms/meet_pinterest.png); }
      .meet div .col-xs-12 .meet__team--imgs .meet__team--img:nth-child(3):hover {
        content: url(../img/pictograms/meet_pinterest_white.png); }
      .meet div .col-xs-12 .meet__team--imgs .meet__team--img:nth-child(4) {
        content: url(../img/pictograms/meet_instagram.png); }
      .meet div .col-xs-12 .meet__team--imgs .meet__team--img:nth-child(4):hover {
        content: url(../img/pictograms/meet_instagram_white.png); }
      .meet div .col-xs-12 .meet__team--imgs .meet__team--img:last-child img {
        margin-right: 10px; }
      .meet div .col-xs-12 .meet__team--imgs .meet__team--img:hover {
        background-color: #f38181; }
      @media only screen and (max-width: 992px) {
        .meet div .col-xs-12 .meet__team--imgs {
          margin-left: 10%; }
          .meet div .col-xs-12 .meet__team--imgs .meet__team--img {
            padding: 10px 10px 10px 10px; } }
      @media only screen and (max-width: 768px) {
        .meet div .col-xs-12 .meet__team--imgs {
          margin-left: 20%; }
          .meet div .col-xs-12 .meet__team--imgs .meet__team--img {
            padding: 15px 15px 15px 15px; } }
      @media only screen and (max-width: 500px) {
        .meet div .col-xs-12 .meet__team--imgs {
          margin-left: 15%; }
          .meet div .col-xs-12 .meet__team--imgs .meet__team--img {
            padding: 10px 10px 10px 10px; } }
    .meet div .col-xs-12 .meet__team--background:hover {
      opacity: 1;
      margin: -20px 0 20px -20px;
      transition: all 1s;
      -webkit-transition: all 1s; }
    .meet div .col-xs-12 .meet__team--background:hover + .meet__team--people {
      margin: -20px 0 20px -20px;
      transition: all 1s;
      -webkit-transition: all 1s; }
  .meet__name {
    text-align: center;
    position: relative; }
    @media only screen and (max-width: 768px) {
      .meet__name {
        opacity: 0;
        position: absolute;
        font-size: 0em;
        margin-top: -100px; } }
    .meet__name div {
      padding-top: 3%; }
      .meet__name div .meet__name--name {
        font-weight: bold;
        font-size: 1.1em; }
      .meet__name div .meet__name--work {
        color: #e5e5e5;
        font-style: italic;
        font-size: 1em; }
    .meet__name--xs {
      opacity: 0;
      position: absolute; }
      @media only screen and (max-width: 768px) {
        .meet__name--xs {
          position: relative;
          opacity: 1;
          margin-left: -30%; }
          .meet__name--xs--name {
            font-weight: bold;
            font-size: 1.1em; }
          .meet__name--xs--work {
            color: #e5e5e5;
            font-style: italic;
            font-size: 1em; } }

.logos {
  margin-top: 3%;
  background-color: #f8f8f8;
  padding-top: 3%;
  padding-bottom: 3%; }
  .logos div .logos__row div {
    text-align: center; }
    @media only screen and (max-width: 992px) {
      .logos div .logos__row div img {
        padding-top: 30px;
        margin-left: 20%; } }
    @media only screen and (max-width: 480px) {
      .logos div .logos__row div img {
        width: 70%; } }
  .logos div .logos__row div:nth-child(4) {
    padding-top: 10px; }
  @media only screen and (max-width: 768px) {
    .logos div .logos__row div:nth-child(5),
    .logos div .logos__row div:nth-child(6) {
      padding-top: -20px; } }
  @media only screen and (max-width: 480px) {
    .logos div .logos__row div:nth-child(5),
    .logos div .logos__row div:nth-child(6) {
      margin-top: -90px; } }
  @media only screen and (max-width: 387px) {
    .logos div .logos__row div:nth-child(6) {
      margin-left: 35%; } }

.work__picture {
  margin-top: 3%; }
  .work__picture div {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: relative; }
    .work__picture div img {
      width: 100%;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      vertical-align: top;
      position: relative; }
  .work__picture--img:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(243, 129, 129, 0.8);
    background: -webkit-linear-gradient(rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8));
    background: -o-linear-gradient(rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8));
    background: -moz-linear-gradient(rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8));
    background: linear-gradient(rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8));
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s; }
  .work__picture--img:hover:after, .work__picture--img.hover:after {
    opacity: 1; }
  .work__picture .work__picture--overlay {
    position: absolute;
    z-index: 50;
    height: 100%;
    margin-top: -80%;
    padding-top: 25%;
    text-align: center;
    width: 100%;
    color: white;
    opacity: 0; }
    .work__picture .work__picture--overlay--img {
      width: 10%; }
    .work__picture .work__picture--overlay--textb {
      font-family: 'Montserrat', sans-serif;
      font-size: 0.9em;
      margin-top: 3%; }
    .work__picture .work__picture--overlay--texts {
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      font-size: 0.8em;
      margin-top: -3%; }
    .work__picture .work__picture--overlay--three {
      margin-top: -160%;
      height: 100%;
      padding-top: 65%; }
    .work__picture .work__picture--overlay:hover {
      opacity: 1; }
  .work__picture .work__picture--img:hover:after + .work__picture--overlay,
  .work__picture .work__picture--img.hover:after + .work__picture--overlay {
    opacity: 1; }

#banner {
  position: relative;
  overflow: hidden;
  background: -webkit-linear-gradient(RGB(244, 140, 130), RGB(252, 226, 138));
  background: -o-linear-gradient(RGB(244, 140, 130), RGB(252, 226, 138));
  background: -moz-linear-gradient(RGB(244, 140, 130), RGB(252, 226, 138));
  background: linear-gradient(RGB(244, 140, 130), RGB(252, 226, 138)); }
  #banner img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1; }
  #banner .banner__info--first {
    font-family: 'Kaushan Script', cursive;
    text-transform: capitalize;
    font-size: 65px;
    color: white;
    margin-top: 10%; }
  #banner .banner__info--second {
    text-transform: uppercase;
    font-size: 120px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 110px;
    margin-top: 2%;
    color: white; }
  #banner .banner__info__bar {
    display: inline-block;
    border: 2px solid white;
    width: 50px;
    margin-top: 3%; }
  #banner .banner__info__button {
    text-transform: uppercase;
    border: 3px solid white;
    border-radius: 0;
    background-color: transparent;
    color: white;
    font-weight: 700;
    width: 150px;
    height: 40px;
    margin-top: 3%;
    margin-bottom: 10%; }
    #banner .banner__info__button:hover {
      background: RGB(244, 140, 130);
      border: 2px solid RGB(244, 140, 130);
      -webkit-transition: all .5s ease-in-out;
      -moz-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out; }
  #banner .banner__slider {
    text-align: left;
    text-transform: uppercase; }
    #banner .banner__slider__slide {
      opacity: 0.6;
      color: white; }
      #banner .banner__slider__slide .slide__bar {
        border: 2px white solid;
        width: 80%;
        margin-left: 4%; }
      #banner .banner__slider__slide .slide__text {
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 5%; }
        @media (max-width: 768px) {
          #banner .banner__slider__slide .slide__text {
            font-size: 10px; } }
        #banner .banner__slider__slide .slide__text span {
          font-size: 20px; }
          @media (max-width: 768px) {
            #banner .banner__slider__slide .slide__text span {
              font-size: 15px; } }
    #banner .banner__slider .active-slide {
      opacity: 1; }

@media (max-width: 1200px) {
  .banner__info--first {
    font-size: 55px !important; }

  .banner__info--second {
    font-size: 100px !important;
    line-height: 90px !important; } }
@media (max-width: 992px) {
  .banner__info--first {
    font-size: 45px !important; }

  .banner__info--second {
    font-size: 80px !important;
    line-height: 70px !important; } }
@media (max-width: 768px) {
  .banner__info--first {
    font-size: 40px !important; }

  .banner__info--second {
    font-size: 70px !important;
    line-height: 60px !important; } }
@media (max-width: 500px) {
  .banner__info--first {
    font-size: 20px !important; }

  .banner__info--second {
    font-size: 30px !important;
    line-height: 35px !important; } }
.nav li a {
  color: white !important;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700; }
  .nav li a:hover {
    color: #fce38a !important;
    border-bottom: 4px solid #fce38a; }
  @media (max-width: 768px) {
    .nav li a {
      margin-top: 1%;
      background: #95e1d3;
      border-radius: 35px; } }
.nav .navbar__pic--cart {
  content: url("../img/pictograms/banner_shopping-cart.png"); }
.nav .navbar__pic--glass {
  content: url("../img/pictograms/banner_magnifying-glass.png"); }

@media (min-width: 768px) {
  .navbar {
    padding: 20px 0;
    background-color: transparent;
    border: none !important;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out,background-color .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out,background-color .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out,background-color .5s ease-in-out; }
    .navbar-toggle {
      background: transparent; }

  .top-nav-collapse {
    padding: 0;
    background-color: #95e1d3; } }
.navbar .navbar__img {
  z-index: 100;
  display: block; }
@media (max-width: 768px) {
  .navbar {
    background-color: transparent;
    border-bottom: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; }
    .navbar .navbar__img {
      display: none; } }
@media (max-width: 768px) {
  .navbar--visible {
    background-color: #95e1d3;
    border-bottom: none; } }

#nav-icon1 {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }
  #nav-icon1 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
    #nav-icon1 span:nth-child(1) {
      top: 0px; }
    #nav-icon1 span:nth-child(2) {
      top: 18px; }
    #nav-icon1 span:nth-child(3) {
      top: 36px; }
  #nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px; }
  #nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg); }

.nav-control {
  background: transparent;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  width: 100%;
  z-index: 101;
  position: fixed;
  height: 50px; }
  .nav-control.scrolled {
    background: #95e1d3; }
  .nav-control.menu-open {
    border-bottom: 1px solid white; }
  .nav-control .nav__sm {
    width: 100%; }
    .nav-control .nav__sm .logo {
      height: 100%;
      padding-top: 13px;
      opacity: 0;
      -webkit-transition: all .5s ease-in-out;
      -moz-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out; }
      .nav-control .nav__sm .logo.scrolled {
        opacity: 1; }
    .nav-control .nav__sm .button {
      height: 100%;
      padding-left: 40%;
      padding-top: 10px; }
      @media (max-width: 500px) {
        .nav-control .nav__sm .button {
          padding-left: 35%; } }
      .nav-control .nav__sm .button img {
        margin: 0; }
  .nav-control .wrapper {
    display: none;
    z-index: 100;
    margin-right: -15px;
    width: 130px;
    margin-top: 14px;
    border: 1px solid white;
    border-top: none;
    background: #95e1d3;
    height: 300px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px; }
    .nav-control .wrapper .nav__navbar__links {
      padding-left: 0;
      margin: 0;
      width: 100%;
      list-style-type: none; }
      .nav-control .wrapper .nav__navbar__links .link {
        width: 100%;
        display: block;
        height: 40px;
        background: #95e1d3;
        text-align: center;
        vertical-align: middle;
        line-height: 40px;
        border-top: 1px solid white; }
        .nav-control .wrapper .nav__navbar__links .link:nth-child(1) {
          border-top: none; }
        .nav-control .wrapper .nav__navbar__links .link a {
          font-size: 20px;
          color: white;
          text-decoration: none;
          border-bottom: 4px solid #95e1d3; }
          .nav-control .wrapper .nav__navbar__links .link a:hover {
            color: #fce38a;
            border-bottom: 4px solid #fce38a; }

#hamburger-icon {
  width: 50px;
  height: 25px;
  position: relative;
  display: block; }
  #hamburger-icon .line {
    display: block;
    background: #ecf0f1;
    width: 50px;
    height: 6px;
    position: absolute;
    left: 0;
    border-radius: 3px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s; }
    #hamburger-icon .line.line-1 {
      top: 0; }
    #hamburger-icon .line.line-2 {
      top: 50%; }
    #hamburger-icon .line.line-3 {
      top: 100%; }
  #hamburger-icon:hover .line-1, #hamburger-icon:focus .line-1 {
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px); }
  #hamburger-icon:hover .line-3, #hamburger-icon:focus .line-3 {
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px); }
  #hamburger-icon.active .line-1 {
    transform: translateY(12.5px) translateX(0) rotate(45deg);
    -webkit-transform: translateY(12.5px) translateX(0) rotate(45deg);
    -moz-transform: translateY(12.5px) translateX(0) rotate(45deg); }
  #hamburger-icon.active .line-2 {
    opacity: 0; }
  #hamburger-icon.active .line-3 {
    transform: translateY(-12.5px) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-12.5px) translateX(0) rotate(-45deg);
    -moz-transform: translateY(-12.5px) translateX(0) rotate(-45deg); }

#about .about__gallery {
  width: 90%;
  margin: auto;
  margin-bottom: 5%;
  margin-top: 5%;
  padding-left: 2%; }
  @media (max-width: 1250px) {
    #about .about__gallery {
      padding-left: 1%; } }
  @media (max-width: 1170px) {
    #about .about__gallery {
      padding-left: 0; } }
  @media (max-width: 1100px) {
    #about .about__gallery {
      padding-left: 1%; } }
  @media only screen and (max-width: 768px) {
    #about .about__gallery .wrapper {
      margin-bottom: 4%; } }
  @media only screen and (max-width: 768px) {
    #about .about__gallery {
      padding-left: 25.5%; } }
  @media (max-width: 730px) {
    #about .about__gallery {
      padding-left: 24.5%; } }
  @media (max-width: 700px) {
    #about .about__gallery {
      padding-left: 23.5%; } }
  @media (max-width: 670px) {
    #about .about__gallery {
      padding-left: 22.5%; } }
  @media (max-width: 640px) {
    #about .about__gallery {
      padding-left: 20.5%; } }
  @media (max-width: 610px) {
    #about .about__gallery {
      padding-left: 19.5%; } }
  @media (max-width: 580px) {
    #about .about__gallery {
      padding-left: 18.5%; } }
  @media (max-width: 550px) {
    #about .about__gallery {
      padding-left: 16.5%; } }
  @media (max-width: 520px) {
    #about .about__gallery {
      padding-left: 14.5%; } }
  @media (max-width: 490px) {
    #about .about__gallery {
      padding-left: 13.5%; } }
  @media (max-width: 460px) {
    #about .about__gallery {
      padding-left: 10.5%; } }
  @media (max-width: 430px) {
    #about .about__gallery {
      padding-left: 8.5%; } }
  @media (max-width: 400px) {
    #about .about__gallery {
      padding-left: 6.5%; } }
  @media (max-width: 370px) {
    #about .about__gallery {
      padding-left: 2.5%; } }
  @media (max-width: 340px) {
    #about .about__gallery {
      padding-left: 1.5%; } }
  @media (max-width: 310px) {
    #about .about__gallery {
      padding-left: 0; } }
  #about .about__gallery__img {
    width: 380px;
    height: 250px;
    opacity: 1;
    z-index: 50; }
    @media (max-width: 1340px) {
      #about .about__gallery__img {
        width: 320px;
        height: 210px; } }
    @media only screen and (max-width: 1200px) {
      #about .about__gallery__img {
        width: 310px;
        height: 200px; } }
    @media (max-width: 1100px) {
      #about .about__gallery__img {
        width: 270px;
        height: 175px; } }
    @media only screen and (max-width: 992px) {
      #about .about__gallery__img {
        width: 230px;
        height: 150px; } }
    @media (max-width: 880px) {
      #about .about__gallery__img {
        width: 190px;
        height: 125px; } }
    @media only screen and (max-width: 768px) {
      #about .about__gallery__img {
        width: 230px;
        height: 150px; } }
    #about .about__gallery__img--1 {
      background: url("../img/aboutus_pic1.png");
      background-size: cover; }
    #about .about__gallery__img--2 {
      background: url("../img/aboutus_pic2.png");
      background-size: cover; }
    #about .about__gallery__img--3 {
      background: url("../img/aboutus_pic3.png");
      background-size: cover; }
  #about .about__gallery--bg {
    width: 380px;
    height: 250px;
    opacity: 1;
    z-index: -100;
    position: absolute;
    background-color: #95e1d3; }
    @media (max-width: 1340px) {
      #about .about__gallery--bg {
        width: 320px;
        height: 210px; } }
    @media only screen and (max-width: 1200px) {
      #about .about__gallery--bg {
        width: 310px;
        height: 200px; } }
    @media (max-width: 1100px) {
      #about .about__gallery--bg {
        width: 270px;
        height: 175px; } }
    @media only screen and (max-width: 992px) {
      #about .about__gallery--bg {
        width: 230px;
        height: 150px; } }
    @media (max-width: 880px) {
      #about .about__gallery--bg {
        width: 190px;
        height: 125px; } }
    @media only screen and (max-width: 768px) {
      #about .about__gallery--bg {
        width: 230px;
        height: 150px; } }
  #about .about__gallery--top {
    width: 380px;
    height: 250px;
    opacity: 0;
    z-index: 90;
    position: absolute;
    background: -webkit-linear-gradient(rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8));
    background: -o-linear-gradient(rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8));
    background: -moz-linear-gradient(rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8));
    background: linear-gradient(rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8)); }
    #about .about__gallery--top img {
      display: block;
      margin: auto;
      margin-top: 25%; }
      @media only screen and (max-width: 768px) {
        #about .about__gallery--top img {
          margin-top: 20%; } }
    #about .about__gallery--top span {
      text-transform: uppercase;
      font-weight: bold;
      color: white;
      display: block; }
      @media only screen and (max-width: 768px) {
        #about .about__gallery--top span {
          margin-top: 5%; } }
    @media (max-width: 1340px) {
      #about .about__gallery--top {
        width: 320px;
        height: 210px; } }
    @media only screen and (max-width: 1200px) {
      #about .about__gallery--top {
        width: 310px;
        height: 200px; } }
    @media (max-width: 1100px) {
      #about .about__gallery--top {
        width: 270px;
        height: 175px; } }
    @media only screen and (max-width: 992px) {
      #about .about__gallery--top {
        width: 230px;
        height: 150px; } }
    @media (max-width: 880px) {
      #about .about__gallery--top {
        width: 190px;
        height: 125px; } }
    @media only screen and (max-width: 768px) {
      #about .about__gallery--top {
        width: 230px;
        height: 150px; } }
    #about .about__gallery--top:hover {
      opacity: 1;
      margin-top: -15px;
      margin-left: -15px;
      margin-bottom: 15px;
      -webkit-transition: all 0.7s ease-out;
      -moz-transition: all 0.7s ease-out;
      -ms-transition: all 0.7s ease-out;
      -o-transition: all 0.7s ease-out;
      transition: all 0.7s ease-out; }
    #about .about__gallery--top:hover img {
      opacity: 1 !important; }
    #about .about__gallery--top:hover + .about__gallery__img {
      margin-bottom: 15px;
      margin-top: -15px;
      margin-left: -15px;
      -webkit-transition: all 0.7s ease-out;
      -moz-transition: all 0.7s ease-out;
      -ms-transition: all 0.7s ease-out;
      -o-transition: all 0.7s ease-out;
      transition: all 0.7s ease-out; }

#numbers {
  background-color: #95e1d3; }
  #numbers .row {
    width: 100%;
    margin-left: 18%; }
    @media (max-width: 768px) {
      #numbers .row {
        margin-left: 0; } }
    #numbers .row .numbers__div {
      height: 180px;
      border-right: 1px solid white;
      width: 12.5%; }
      #numbers .row .numbers__div:nth-child(1) {
        border-left: 1px solid white; }
      @media (max-width: 768px) {
        #numbers .row .numbers__div {
          width: 20%; }
          #numbers .row .numbers__div:nth-child(1) {
            border-left: 1px solid white; } }
      #numbers .row .numbers__div span {
        display: block;
        margin: 0 auto;
        clear: left;
        font-weight: 400 !important;
        color: white; }
      #numbers .row .numbers__div span.numbers__div__count {
        font-family: 'Montserrat', sans-serif;
        margin-top: 30%;
        font-size: 50px; }
        @media (max-width: 1200px) {
          #numbers .row .numbers__div span.numbers__div__count {
            font-size: 40px; } }
        @media (max-width: 992px) {
          #numbers .row .numbers__div span.numbers__div__count {
            font-size: 30px; } }
        @media (max-width: 768px) {
          #numbers .row .numbers__div span.numbers__div__count {
            font-size: 25px; } }
        @media (max-width: 500px) {
          #numbers .row .numbers__div span.numbers__div__count {
            font-size: 20px; } }
      @media (max-width: 450px) {
        #numbers .row .numbers__div {
          padding-left: 1px;
          padding-right: 1px; } }

.say {
  position: relative;
  overflow: hidden;
  background-color: #f8f8f8;
  height: 100%;
  width: 100%; }
  .say__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2; }
  .say__client {
    padding-top: 2%;
    padding-bottom: 5%;
    margin-bottom: 3%; }
    .say__client--name {
      font-family: 'Montserrat', sans-serif;
      font-size: 1em;
      padding-top: 1%;
      padding-bottom: 1%;
      padding-left: 5%; }
      @media only screen and (max-width: 992px) {
        .say__client--name {
          margin-top: 8%; } }
    .say__client--job {
      font-family: 'Roboto',sans-serif;
      font-style: italic;
      font-size: 1em;
      padding-bottom: 1%;
      padding-left: 5%; }
      @media only screen and (max-width: 992px) {
        .say__client--job {
          padding-bottom: -4%; } }
    .say__client--text {
      color: #999999;
      padding-top: 1%;
      padding-left: 5%; }
      @media only screen and (max-width: 992px) {
        .say__client--text {
          padding-bottom: 5%; } }
    .say__client div img {
      padding-left: 5%;
      margin-top: 5%; }
      @media only screen and (max-width: 992px) {
        .say__client div img {
          margin-top: 1%; } }
    .say__client--img {
      text-align: left; }
      .say__client--img img {
        width: 90%;
        padding-right: 5%; }
        @media only screen and (max-width: 992px) {
          .say__client--img img {
            width: 60%;
            padding-top: 22%; } }
        @media only screen and (max-width: 768px) {
          .say__client--img img {
            width: 70%;
            padding-top: 25%; } }
        @media screen and (max-width: 600px) {
          .say__client--img img {
            padding-top: 40%;
            padding-left: 5%; } }

@media only screen and (max-width: 768px) {
  .blog__news {
    text-align: center; } }
.blog__news--title {
  padding-top: 4%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; }
  @media only screen and (max-width: 768px) {
    .blog__news--title {
      margin-left: 20%;
      text-align: left; } }
.blog__news--text {
  padding-top: 2%;
  color: #999999;
  padding-left: -2%; }
  @media only screen and (max-width: 768px) {
    .blog__news--text {
      margin-left: 20%;
      text-align: left;
      width: 50%; } }
  @media only screen and (max-width: 600px) {
    .blog__news--text {
      width: 60%; } }
.blog__news--line {
  display: inline-block;
  border: 1px solid #e5e5e5;
  width: 100%;
  margin-top: 1.5%;
  margin-bottom: 1.5%; }
  @media only screen and (max-width: 768px) {
    .blog__news--line {
      width: 60%; } }
  @media only screen and (max-width: 600px) {
    .blog__news--line {
      width: 70%; } }
.blog__news--pictograms {
  padding-top: 2%;
  padding-bottom: 10%;
  opacity: 0.8;
  margin-left: 0px; }
  .blog__news--pictograms span {
    margin-left: 2%;
    margin-right: 2%; }
  @media only screen and (max-width: 768px) {
    .blog__news--pictograms {
      width: 60%; } }
.blog__news figure img {
  padding-left: 5%;
  padding-right: 5%; }
  @media only screen and (max-width: 768px) {
    .blog__news figure img {
      margin: 0 auto;
      padding-left: 0%;
      padding-right: 0%; } }
.blog__news figcaption {
  background-color: #95e1d3;
  position: absolute;
  top: 35%;
  left: 3%;
  right: 82%;
  text-align: center;
  color: white; }
  @media only screen and (max-width: 1200px) {
    .blog__news figcaption {
      top: 30%; } }
  @media only screen and (max-width: 768px) {
    .blog__news figcaption {
      top: 35%;
      left: 20%;
      right: 65%; } }
  @media only screen and (max-width: 670px) {
    .blog__news figcaption {
      left: 15%; } }
  @media only screen and (max-width: 600px) {
    .blog__news figcaption {
      left: 10%; } }
  @media only screen and (max-width: 500px) {
    .blog__news figcaption {
      right: 70%;
      left: -5%; } }
  @media only screen and (max-width: 360px) {
    .blog__news figcaption {
      right: 70%;
      left: -5%;
      top: 30%; } }
.blog__news--day {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: bold;
  padding-top: 1%;
  padding-bottom: 0px;
  margin-bottom: 0px; }
  @media only screen and (max-width: 1200px) {
    .blog__news--day {
      font-size: 1.7em; } }
  @media only screen and (max-width: 992px) {
    .blog__news--day {
      font-size: 1.2em; } }
  @media only screen and (max-width: 768px) {
    .blog__news--day {
      font-size: 2em; } }
.blog__news--month {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 1em;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 3px;
  margin-left: -4%; }
  @media only screen and (max-width: 1200px) {
    .blog__news--month {
      font-size: 0.9em; } }
  @media only screen and (max-width: 992px) {
    .blog__news--month {
      margin-bottom: 0px;
      font-size: 0.8em; } }
  @media only screen and (max-width: 768px) {
    .blog__news--month {
      margin-bottom: 3px;
      font-size: 1em; } }

.map {
  position: relative;
  overflow: hidden;
  background-color: #f8f8f8;
  height: 100%; }
  .map--back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1; }
  .map__inside {
    text-align: center;
    opacity: 1; }
    .map__inside--pictogram {
      padding-top: 2%;
      padding-bottom: 0.5%; }
    .map__inside--text {
      font-family: 'Montserrat', sans-serif;
      font-size: 2em;
      font-weight: bold;
      color: #f38181;
      z-index: 500; }
    .map__inside--text {
      color: #f38181;
      animation-name: example;
      animation-duration: 4s; }
    .map__inside--rectangle {
      width: 5%;
      padding-bottom: 3%; }
  .map a:hover {
    text-decoration: none;
    cursor: pointer; }
  .map__box {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4); }
    .map__box--content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 50%; }
      .map__box--content--close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold; }
        .map__box--content--close:hover, .map__box--content--closefocus {
          color: #000;
          text-decoration: none;
          cursor: pointer; }

#map {
  height: 400px;
  width: 100%; }

.foot {
  background-color: #f8f8f8; }
  .foot__1--logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3.5em;
    padding-top: 10%;
    color: #d9d9d9;
    margin-left: -4%; }
  .foot__1--text {
    color: #d9d9d9;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin-left: -4%; }
  .foot__1--line {
    margin-left: -5%; }
    @media only screen and (max-width: 1200px) {
      .foot__1--line {
        width: 100%; } }
  .foot__1--users {
    padding-top: 7%; }
    .foot__1--users--number {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 1.3em; }
    .foot__1--users--user {
      font-family: 'Montserrat', sans-serif; }
  .foot__1--site {
    padding-top: 2%; }
    .foot__1--site--text {
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      color: #d9d9d9;
      padding-right: 4%;
      margin-left: -10%; }
      @media only screen and (max-width: 992px) {
        .foot__1--site--text {
          margin-left: -5%; } }
      @media only screen and (max-width: 768px) {
        .foot__1--site--text {
          margin-left: -50px; } }
    .foot__1--site img {
      padding-right: 1.5%; }
      @media only screen and (max-width: 992px) {
        .foot__1--site img {
          padding-right: 3%; } }
  .foot__1 form input[type=text] {
    width: 50%;
    margin-left: -5%;
    padding: 10px 5px 10px 5px;
    display: inline-block;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    margin-top: 5%; }
    @media only screen and (max-width: 500px) {
      .foot__1 form input[type=text] {
        width: 40%; } }
  .foot__1 form input[type=submit] {
    width: 40%;
    background-color: #95e1d3;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    margin: 0;
    border: none;
    cursor: pointer;
    margin-top: 5%;
    margin-left: -1.2%; }
    @media only screen and (max-width: 500px) {
      .foot__1 form input[type=submit] {
        font-size: 0.8em;
        margin-top: -5%;
        padding: 13px 5px; } }
  .foot__2--title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    padding-top: 15%;
    font-weight: bold; }
  .foot__2--row {
    margin-top: 5%; }
    .foot__2--row--text--long {
      font-family: 'Montserrat', sans-serif;
      font-size: 0.8em; }
      @media only screen and (max-width: 992px) {
        .foot__2--row--text--long {
          font-size: 1em; } }
      @media all and (max-width: 600px) {
        .foot__2--row--text--long {
          font-size: 0.8em; } }
    .foot__2--row--text--data {
      font-family: 'Roboto', sans-serif;
      font-size: 0.6em;
      font-style: italic;
      font-weight: 100; }
      @media only screen and (max-width: 992px) {
        .foot__2--row--text--data {
          font-size: 0.8em; } }
      @media all and (max-width: 600px) {
        .foot__2--row--text--data {
          font-size: 0.6em; } }
    @media only screen and (max-width: 1200px) {
      .foot__2--row img {
        width: 80%; } }
    @media only screen and (max-width: 768px) {
      .foot__2--row img {
        width: 100%; } }
    @media all and (max-width: 400px) {
      .foot__2--row img {
        margin-top: 5%;
        width: 150%; } }
  .foot__3--title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    padding-top: 15%;
    font-weight: bold; }
  .foot__3--insta {
    text-align: center; }
    @media only screen and (max-width: 1200px) {
      .foot__3--insta {
        margin-left: 5%; } }
    .foot__3--insta .row {
      margin-bottom: 2%; }
    @media all and (max-width: 365px) {
      .foot__3--insta .row img {
        width: 30%; } }
  .foot__3--text {
    padding-top: 2%;
    font-style: italic; }
    @media only screen and (max-width: 1200px) {
      .foot__3--text {
        text-align: center; } }
  .foot__3--line {
    width: 100%; }
  .foot__3--foot {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%; }
    .foot__3--foot--color {
      color: #f38181; }

#foot__1--site--sprite {
  position: relative; }

#foot__1--site--sprite li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: -5px; }

#foot__1--site--sprite li, #foot__1--site--sprite a {
  height: 30px;
  display: block; }

#dribble {
  left: 90px;
  width: 25px;
  background: url("../img/pictograms/spritesheet.png") 0 0; }
  @media only screen and (max-width: 768px) {
    #dribble {
      left: 60px; } }

#facebook {
  left: 113px;
  width: 25px;
  background: url("../img/pictograms/spritesheet.png") -25px 0; }
  @media only screen and (max-width: 768px) {
    #facebook {
      left: 83px; } }

#google {
  left: 140px;
  width: 25px;
  background: url("../img/pictograms/spritesheet.png") -50px 0; }
  @media only screen and (max-width: 768px) {
    #google {
      left: 110px; } }

#instagram {
  left: 164px;
  width: 25px;
  background: url("../img/pictograms/spritesheet.png") -75px 0; }
  @media only screen and (max-width: 768px) {
    #instagram {
      left: 134px; } }

#pinterest {
  left: 190px;
  width: 25px;
  background: url("../img/pictograms/spritesheet.png") -100px 0; }
  @media only screen and (max-width: 768px) {
    #pinterest {
      left: 160px; } }

#tumblr {
  left: 215px;
  width: 25px;
  background: url("../img/pictograms/spritesheet.png") -125px 0; }
  @media only screen and (max-width: 768px) {
    #tumblr {
      left: 185px; } }

#twitter {
  left: 243px;
  width: 25px;
  background: url("../img/pictograms/spritesheet.png") -150px 0; }
  @media only screen and (max-width: 768px) {
    #twitter {
      left: 213px; } }

#youtube {
  left: 273px;
  width: 25px;
  background: url("../img/pictograms/spritesheet.png") -175px 0; }
  @media only screen and (max-width: 768px) {
    #youtube {
      left: 243px; } }

.testimontial {
  padding-top: 4%;
  padding-bottom: 5%;
  height: 250px; }
  @media only screen and (max-width: 768px) {
    .testimontial {
      height: 400px; } }
  @media only screen and (max-width: 650px) {
    .testimontial {
      height: 350px; } }
  @media only screen and (max-width: 300px) {
    .testimontial {
      height: 400px; } }
  .testimontial__slider--left {
    text-align: center;
    margin-top: 5%; }
    @media only screen and (max-width: 768px) {
      .testimontial__slider--left {
        margin-top: 25%; } }
  .testimontial__slider--right {
    text-align: center;
    margin-top: 3%; }
    @media only screen and (max-width: 768px) {
      .testimontial__slider--right {
        margin-top: 0%; } }
  .testimontial__slider--page {
    text-align: center;
    margin-left: 15%;
    padding-top: 1%; }
    @media only screen and (max-width: 768px) {
      .testimontial__slider--page {
        margin-left: 8%;
        padding-left: 35%; } }
    .testimontial__slider--page--img {
      margin-left: 10%; }
      .testimontial__slider--page--img img {
        width: 80%; }
        @media only screen and (max-width: 1200px) {
          .testimontial__slider--page--img img {
            padding-top: 15%;
            width: 80%; } }
        @media only screen and (max-width: 768px) {
          .testimontial__slider--page--img img {
            width: 50%;
            margin-left: -20%;
            text-align: center; } }
    .testimontial__slider--page--text {
      color: #999999;
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      width: 70%; }
      @media only screen and (max-width: 768px) {
        .testimontial__slider--page--text {
          width: 200%;
          margin-top: 50px;
          margin-left: -85%;
          margin-right: 10%; } }
    .testimontial__slider--page--name {
      padding-top: 3%; }
      @media only screen and (max-width: 768px) {
        .testimontial__slider--page--name {
          margin-left: -85%; } }
      .testimontial__slider--page--name--name {
        font-family: 'Kaushan Script', cursive; }

.carousel-control.left,
.carousel-control.right {
  background-image: none;
  height: 50px;
  margin-top: 0%; }
  @media only screen and (max-width: 768px) {
    .carousel-control.left img,
    .carousel-control.right img {
      margin-top: 10%; } }

#services {
  margin-bottom: 5%; }
  #services .services__gallery .row {
    margin: auto; }
    #services .services__gallery .row--first {
      margin-bottom: 5%; }
      @media only screen and (max-width: 768px) {
        #services .services__gallery .row--first {
          margin-bottom: 0; } }
    #services .services__gallery .row--second {
      margin-bottom: 5%; }
      @media (min-width: 992px) {
        #services .services__gallery .row--second {
          margin-top: 5%; } }
  #services .services__gallery .left {
    margin-left: 5%; }
  #services .services__gallery__block {
    border-color: #95e1d3;
    border-radius: 10px;
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear; }
    @media (min-width: 768px) {
      #services .services__gallery__block {
        width: 30%;
        margin-left: 1.5%; } }
    #services .services__gallery__block .title {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      -webkit-transition: all 500ms linear;
      -moz-transition: all 500ms linear;
      -o-transition: all 500ms linear;
      -ms-transition: all 500ms linear;
      transition: all 500ms linear; }
      @media (max-width: 350px) {
        #services .services__gallery__block .title {
          padding-left: 5%; } }
    #services .services__gallery__block .description {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 14px;
      -webkit-transition: all 500ms linear;
      -moz-transition: all 500ms linear;
      -o-transition: all 500ms linear;
      -ms-transition: all 500ms linear;
      transition: all 500ms linear; }
      @media (max-width: 350px) {
        #services .services__gallery__block .description {
          padding-left: 5%; } }
    #services .services__gallery__block__pic {
      -webkit-transition-property: -webkit-transform;
      -webkit-transition-duration: 500ms;
      -moz-transition-property: -moz-transform;
      -moz-transition-duration: 500ms;
      transition-property: transform;
      transition-duration: 500ms; }
      #services .services__gallery__block__pic img {
        margin-top: 5px;
        width: 32px;
        height: 31px; }
    @media only screen and (max-width: 768px) {
      #services .services__gallery__block {
        margin: 5% 0 5% 0 !important; } }
  #services .services__gallery .middle-bar {
    display: inline-block;
    border: 1px solid #e5e5e5;
    width: 90%;
    margin-left: 5%; }

.services__gallery .services__gallery__block:hover .title {
  color: #95e1d3;
  -webkit-animation: moveFromTop 500ms ease-in-out;
  -moz-animation: moveFromTop 500ms ease-in-out;
  -ms-animation: moveFromTop 500ms ease-in-out; }

.services__gallery .services__gallery__block:hover .description {
  -webkit-animation: moveFromBottom 500ms ease-in-out;
  -moz-animation: moveFromBottom 500ms ease-in-out;
  -ms-animation: moveFromBottom 500ms ease-in-out; }

.services__gallery .services__gallery__block:hover .pic {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 500ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 500ms;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: linear;
  animation-name: rotate;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: linear; }

@-webkit-keyframes moveFromBottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(200%); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%); } }
@-moz-keyframes moveFromBottom {
  from {
    opacity: 0;
    -moz-transform: translateY(200%); }
  to {
    opacity: 1;
    -moz-transform: translateY(0%); } }
@-ms-keyframes moveFromBottom {
  from {
    opacity: 0;
    -ms-transform: translateY(200%); }
  to {
    opacity: 1;
    -ms-transform: translateY(0%); } }
@-webkit-keyframes moveFromTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-200%); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%); } }
@-moz-keyframes moveFromTop {
  from {
    opacity: 0;
    -moz-transform: translateY(-200%); }
  to {
    opacity: 1;
    -moz-transform: translateY(0%); } }
@-ms-keyframes moveFromTop {
  from {
    opacity: 0;
    -ms-transform: translateY(-200%); }
  to {
    opacity: 1;
    -ms-transform: translateY(0%); } }
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }
@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
#design {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column; }
  #design img.design__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1; }
  #design .design__intro {
    height: 100%; }
    #design .design__intro__text--first {
      font-family: 'Kaushan Script', cursive;
      font-size: 20px;
      color: black;
      margin-top: 5%; }
    #design .design__intro__text--second {
      text-transform: uppercase;
      font-size: 30px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
      margin-top: 0;
      color: black; }
    #design .design__intro__bar {
      display: inline-block;
      border: 2px solid #f38181;
      width: 50px;
      margin-top: 1.5%;
      margin-bottom: 5%; }
    #design .design__intro__image {
      height: 100%; }
      #design .design__intro__image .tablet {
        height: 100%; }
        #design .design__intro__image .tablet img {
          flex: 1;
          margin-left: auto;
          margin-right: auto; }
  #design .design__phone__img img {
    z-index: 10;
    margin-left: 57%;
    margin-top: -20%; }
    @media (max-width: 1400px) {
      #design .design__phone__img img {
        margin-left: 60%;
        margin-top: -30%; } }
    @media (max-width: 1200px) {
      #design .design__phone__img img {
        margin-left: 58%;
        margin-top: -32%; } }
    @media (max-width: 1100px) {
      #design .design__phone__img img {
        margin-left: 60%;
        margin-top: -35%; } }
    @media (max-width: 1000px) {
      #design .design__phone__img img {
        margin-left: 60%;
        margin-top: -40%; } }
    @media (max-width: 850px) {
      #design .design__phone__img img {
        margin-left: 62%;
        margin-top: -50%; } }
    @media (max-width: 700px) {
      #design .design__phone__img img {
        margin-left: 65%;
        margin-top: -55%;
        width: 40%; } }

#service {
  margin-bottom: 5%; }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #service {
      margin-top: -20%; } }
  #service .service__details {
    margin-top: 5%;
    margin-bottom: 5%; }
    #service .service__details__photo img {
      position: absolute;
      display: block;
      right: 10px;
      margin-left: 10px;
      margin-bottom: 5%; }
      @media only screen and (max-width: 992px) {
        #service .service__details__photo img {
          position: relative;
          margin: 0 auto;
          right: 0;
          margin-bottom: 2%; } }
    #service .service__details__accordion .panel-group .panel {
      border: 0 none;
      border-radius: 0;
      box-shadow: none;
      max-width: 570px; }
      @media only screen and (max-width: 992px) {
        #service .service__details__accordion .panel-group .panel {
          margin: 0 auto; } }
    #service .service__details__accordion .panel-default > .panel-heading {
      padding: 0;
      border-radius: 0;
      background-color: white;
      border: 2px solid #e5e5e5;
      border-radius: 2px; }
    #service .service__details__accordion .panel-title {
      height: 69px; }
    #service .service__details__accordion .panel-title > a {
      display: block;
      padding: 15px;
      position: relative;
      color: black;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 20px;
      line-height: 40px; }
      @media only screen and (max-width: 768px) {
        #service .service__details__accordion .panel-title > a {
          font-size: 15px;
          line-height: 20px; } }
      #service .service__details__accordion .panel-title > a:focus, #service .service__details__accordion .panel-title > a:hover {
        text-decoration: none;
        outline: none; }
      #service .service__details__accordion .panel-title > a:after {
        content: "\2303";
        font-family: FontAwesome;
        color: #999999;
        position: absolute;
        right: 15px;
        top: 27px;
        font-size: 48px; }
        @media only screen and (max-width: 768px) {
          #service .service__details__accordion .panel-title > a:after {
            font-size: 30px;
            top: 32px; } }
      #service .service__details__accordion .panel-title > a.collapsed:after {
        content: "\2304";
        font-family: FontAwesome;
        color: #999999;
        position: absolute;
        right: 15px;
        top: -3px;
        font-size: 48px; }
        @media only screen and (max-width: 768px) {
          #service .service__details__accordion .panel-title > a.collapsed:after {
            font-size: 30px;
            top: 13px; } }
      #service .service__details__accordion .panel-title > a img {
        margin-right: 3%; }
    #service .service__details__accordion .panel-body {
      background: #fff;
      color: #888;
      font-size: 13px;
      line-height: 20px;
      border: 2px solid #e5e5e5;
      border-radius: 2px;
      max-height: 200px;
      overflow: auto;
      overflow-x: hidden; }
    #service .service__details__accordion .panel-default > .panel-heading + .panel-collapse > .panel-body {
      border-top: 0 none; }

.carousel1 {
  background-color: #e5e5e5;
  padding-top: 1%;
  padding-bottom: 1%; }
  .carousel1__slider--left {
    text-align: center;
    margin-top: 5%; }
    @media only screen and (max-width: 768px) {
      .carousel1__slider--left {
        margin-top: 25%; } }
  .carousel1__slider--right {
    text-align: center;
    margin-top: 3%; }
    @media only screen and (max-width: 768px) {
      .carousel1__slider--right {
        margin-top: 0%; } }
  .carousel1__slider--page {
    margin-left: 15%;
    padding-top: 1%; }
    @media only screen and (max-width: 768px) {
      .carousel1__slider--page {
        margin-left: 8%;
        padding-left: 35%; } }
    .carousel1__slider--page--img {
      margin-left: 12%;
      margin-right: 5%;
      width: 100px !important;
      height: 100px !important;
      border: 2px solid #95e1d3;
      padding: 18px; }
      .carousel1__slider--page--img img {
        width: 63px !important;
        height: 61px !important; }
        @media only screen and (max-width: 768px) {
          .carousel1__slider--page--img img {
            margin: auto; } }
      @media only screen and (max-width: 768px) {
        .carousel1__slider--page--img {
          margin: auto; } }
      @media (max-width: 600px) {
        .carousel1__slider--page--img {
          margin-left: -5%; } }
      @media (max-width: 470px) {
        .carousel1__slider--page--img {
          margin-left: -10%; } }
      @media (max-width: 400px) {
        .carousel1__slider--page--img {
          margin-left: -15%; } }
      @media (max-width: 360px) {
        .carousel1__slider--page--img {
          margin-left: -20%; } }
    .carousel1__slider--page--text {
      color: #999999;
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      width: 70%; }
      @media only screen and (max-width: 768px) {
        .carousel1__slider--page--text {
          width: 150%;
          margin-top: 50px;
          padding-left: -30%;
          margin-left: -65%; } }
    .carousel1__slider--page--name {
      padding-top: 3%; }
      @media only screen and (max-width: 768px) {
        .carousel1__slider--page--name {
          margin-left: -65%; } }
      .carousel1__slider--page--name--name {
        font-family: 'Kaushan Script', cursive; }

.carousel-control.left,
.carousel-control.right {
  background-image: none;
  height: 50px;
  margin-top: 3%; }
  @media only screen and (max-width: 768px) {
    .carousel-control.left img,
    .carousel-control.right img {
      margin-top: 100%; } }
  @media (max-width: 640px) {
    .carousel-control.left img,
    .carousel-control.right img {
      margin-top: 120%; } }
  @media (max-width: 480px) {
    .carousel-control.left img,
    .carousel-control.right img {
      margin-top: 200%; } }
  @media (max-width: 420px) {
    .carousel-control.left img,
    .carousel-control.right img {
      margin-top: 250%; } }

.page-title {
  text-align: center; }
  .page-title__main {
    font-family: Kaushan Script;
    font-size: 20px;
    margin-top: 5%; }
  .page-title__subtitle {
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin-top: 0; }
  .page-title__bar {
    display: inline-block;
    border: 2px solid #f38181;
    width: 50px;
    margin-top: 1.5%;
    margin-bottom: 1.5%; }
  .page-title__text {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1.5%;
    width: 60%;
    color: #d9d9d9; }

body {
  overflow-x: hidden; }
