.meet {
  text-align: center; }
  .meet div .col-xs-12 {
    padding-top: 3%; }
    @media only screen and (max-width: 768px) {
      .meet div .col-xs-12 {
        padding-left: 28%;
        padding-top: 5%; } }
    @media only screen and (max-width: 600px) {
      .meet div .col-xs-12 {
        padding-left: 20%;
        padding-top: 5%; } }
    @media only screen and (max-width: 400px) {
      .meet div .col-xs-12 {
        padding-left: 15%;
        padding-top: 5%; } }
    .meet div .col-xs-12 .meet__team--people {
      width: 360px;
      height: 450px;
      opacity: 1;
      z-index: 50; }
      @media only screen and (max-width: 1200px) {
        .meet div .col-xs-12 .meet__team--people {
          width: 300px;
          height: 400px; } }
      @media only screen and (max-width: 992px) {
        .meet div .col-xs-12 .meet__team--people {
          width: 200px;
          height: 300px; } }
      @media only screen and (max-width: 768px) {
        .meet div .col-xs-12 .meet__team--people {
          width: 360px;
          height: 450px; } }
      @media only screen and (max-width: 500px) {
        .meet div .col-xs-12 .meet__team--people {
          width: 250px;
          height: 350px; } }
      .meet div .col-xs-12 .meet__team--people--1 {
        background: url("../img/meet_img_1.png");
        background-size: cover; }
      .meet div .col-xs-12 .meet__team--people--2 {
        background: url("../img/meet_img_2.png");
        background-size: cover; }
      .meet div .col-xs-12 .meet__team--people--3 {
        background: url("../img/meet_img_3.png");
        background-size: cover; }
    .meet div .col-xs-12 .meet__team--back {
      width: 360px;
      height: 450px;
      opacity: 1;
      z-index: -400;
      position: absolute;
      background-color: #95e1d3; }
      @media only screen and (max-width: 1200px) {
        .meet div .col-xs-12 .meet__team--back {
          width: 300px;
          height: 400px; } }
      @media only screen and (max-width: 992px) {
        .meet div .col-xs-12 .meet__team--back {
          width: 200px;
          height: 300px; } }
      @media only screen and (max-width: 768px) {
        .meet div .col-xs-12 .meet__team--back {
          width: 360px;
          height: 450px; } }
      @media only screen and (max-width: 500px) {
        .meet div .col-xs-12 .meet__team--back {
          width: 250px;
          height: 350px; } }
    .meet div .col-xs-12 .meet__team--background {
      opacity: 0;
      position: absolute;
      background: linear-gradient(rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8));
      width: 360px;
      z-index: 400;
      height: 450px;
      margin-top: 0%; }
      @media only screen and (max-width: 1200px) {
        .meet div .col-xs-12 .meet__team--background {
          width: 300px;
          height: 400px; } }
      @media only screen and (max-width: 992px) {
        .meet div .col-xs-12 .meet__team--background {
          width: 200px;
          height: 300px; } }
      @media only screen and (max-width: 768px) {
        .meet div .col-xs-12 .meet__team--background {
          width: 360px;
          height: 450px; } }
      @media only screen and (max-width: 500px) {
        .meet div .col-xs-12 .meet__team--background {
          width: 250px;
          height: 350px; } }
    .meet div .col-xs-12 .meet__team--imgs {
      position: absolute;
      margin-left: 20%;
      z-index: 300;
      margin-top: 50%; }
      .meet div .col-xs-12 .meet__team--imgs .meet__team--img {
        margin-top: 50%;
        position: relative;
        margin-left: -5px;
        padding: 15px 15px 15px 15px;
        background-color: #fce38a; }
      .meet div .col-xs-12 .meet__team--imgs .meet__team--img:first-child {
        background-color: #f38181;
        margin-top: 50%; }
      .meet div .col-xs-12 .meet__team--imgs .meet__team--img:last-child img {
        margin-right: 10px; }
      @media only screen and (max-width: 992px) {
        .meet div .col-xs-12 .meet__team--imgs {
          margin-left: 10%; }
          .meet div .col-xs-12 .meet__team--imgs .meet__team--img {
            padding: 10px 10px 10px 10px; } }
      @media only screen and (max-width: 768px) {
        .meet div .col-xs-12 .meet__team--imgs {
          margin-left: 20%; }
          .meet div .col-xs-12 .meet__team--imgs .meet__team--img {
            padding: 15px 15px 15px 15px; } }
      @media only screen and (max-width: 500px) {
        .meet div .col-xs-12 .meet__team--imgs {
          margin-left: 15%; }
          .meet div .col-xs-12 .meet__team--imgs .meet__team--img {
            padding: 10px 10px 10px 10px; } }
    .meet div .col-xs-12 .meet__team--background:hover {
      opacity: 1;
      margin-top: -20px;
      margin-left: -20px;
      margin-bottom: 20px; }
    .meet div .col-xs-12 .meet__team--background:hover + .meet__team--people {
      margin-bottom: 20px;
      margin-top: -20px;
      margin-left: -20px; }
  .meet__name {
    text-align: center;
    position: relative; }
    @media only screen and (max-width: 768px) {
      .meet__name {
        opacity: 0;
        position: absolute;
        font-size: 0em;
        margin-top: -100px; } }
    .meet__name div {
      padding-top: 3%; }
      .meet__name div .meet__name--name {
        font-weight: bold;
        font-size: 1.1em; }
      .meet__name div .meet__name--work {
        color: #e5e5e5;
        font-style: italic;
        font-size: 1em; }
    .meet__name--xs {
      opacity: 0;
      position: absolute; }
      @media only screen and (max-width: 768px) {
        .meet__name--xs {
          position: relative;
          opacity: 1;
          margin-left: -30%; }
          .meet__name--xs--name {
            font-weight: bold;
            font-size: 1.1em; }
          .meet__name--xs--work {
            color: #e5e5e5;
            font-style: italic;
            font-size: 1em; } }

.logos {
  margin-top: 3%;
  background-color: #f8f8f8;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center; }
  @media only screen and (max-width: 992px) {
    .logos div .logos__row div img {
      padding-top: 30px; } }
  @media only screen and (max-width: 480px) {
    .logos div .logos__row div img {
      width: 70%; } }
  .logos div .logos__row div:nth-child(4) {
    padding-top: 10px; }
  @media only screen and (max-width: 768px) {
    .logos div .logos__row div:nth-child(5),
    .logos div .logos__row div:nth-child(6) {
      padding-top: -20px; } }
  @media only screen and (max-width: 480px) {
    .logos div .logos__row div:nth-child(5),
    .logos div .logos__row div:nth-child(6) {
      margin-top: -90px; } }
  @media only screen and (max-width: 387px) {
    .logos div .logos__row div:nth-child(6) {
      margin-left: 35%; } }

.work__picture {
  margin-top: 3%; }
  .work__picture div {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: relative; }
    .work__picture div img {
      width: 100%;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      vertical-align: top;
      position: relative; }
  .work__picture--img:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8));
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s; }
  .work__picture--img:hover:after, .work__picture--img.hover:after {
    opacity: 1; }
  .work__picture .work__picture--overlay {
    position: absolute;
    z-index: 50;
    margin-top: -50%;
    text-align: center;
    width: 100%;
    color: white;
    opacity: 0; }
    .work__picture .work__picture--overlay--img {
      width: 10%; }
    .work__picture .work__picture--overlay--textb {
      font-family: 'Montserrat', sans-serif;
      font-size: 0.9em;
      margin-top: 3%; }
    .work__picture .work__picture--overlay--texts {
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      font-size: 0.8em;
      margin-top: -3%; }
    .work__picture .work__picture--overlay--three {
      margin-top: -85%; }
    .work__picture .work__picture--overlay:hover {
      opacity: 1; }
  .work__picture .work__picture--img:hover:after + .work__picture--overlay,
  .work__picture .work__picture--img.hover:after + .work__picture--overlay {
    opacity: 1; }

#banner {
  position: relative;
  overflow: hidden;
  background: linear-gradient(RGB(244, 140, 130), RGB(252, 226, 138)); }
  #banner img {
    content: url("../img/banner_bg.png");
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1; }
  #banner .banner__info--first {
    font-family: 'Kaushan Script', cursive;
    text-transform: capitalize;
    font-size: 65px;
    color: white;
    margin-top: 10%; }
  #banner .banner__info--second {
    text-transform: uppercase;
    font-size: 120px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 110px;
    margin-top: 2%;
    color: white; }
  #banner .banner__info__bar {
    display: inline-block;
    border: 2px solid white;
    width: 50px;
    margin-top: 3%; }
  #banner .banner__info__button {
    text-transform: uppercase;
    border: 3px solid white;
    border-radius: 0;
    background-color: transparent;
    color: white;
    font-weight: 700;
    width: 150px;
    height: 40px;
    margin-top: 3%;
    margin-bottom: 10%; }
    #banner .banner__info__button:hover {
      background: RGB(244, 140, 130);
      border: 2px solid RGB(244, 140, 130);
      -webkit-transition: all .5s ease-in-out;
      -moz-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out; }
  #banner .banner__slider {
    text-align: left;
    text-transform: uppercase; }
    #banner .banner__slider__slide {
      opacity: 0.6;
      color: white; }
      #banner .banner__slider__slide .slide__bar {
        border: 2px white solid;
        width: 80%;
        margin-left: 4%;
        margin-bottom: 5%; }
      #banner .banner__slider__slide .slide__text {
        font-size: 15px;
        font-weight: 700; }
        #banner .banner__slider__slide .slide__text span {
          font-size: 20px; }
    #banner .banner__slider .active-slide {
      opacity: 1; }

@media (max-width: 1200px) {
  .banner__info--first {
    font-size: 55px !important; }

  .banner__info--second {
    font-size: 100px !important;
    line-height: 90px !important; } }
@media (max-width: 992px) {
  .banner__info--first {
    font-size: 45px !important; }

  .banner__info--second {
    font-size: 80px !important;
    line-height: 70px !important; } }
@media (max-width: 768px) {
  .banner__info--first {
    font-size: 40px !important; }

  .banner__info--second {
    font-size: 70px !important;
    line-height: 60px !important; } }
@media (max-width: 500px) {
  .banner__info--first {
    font-size: 20px !important; }

  .banner__info--second {
    font-size: 40px !important;
    line-height: 30px !important; } }
.nav li a {
  color: white !important;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700; }
  .nav li a:hover {
    color: #fce38a !important;
    border-bottom: 4px solid #fce38a; }
.nav .navbar__pic--cart {
  content: url("../img/pictograms/banner_shopping-cart.png"); }
.nav .navbar__pic--glass {
  content: url("../img/pictograms/banner_magnifying-glass.png"); }

@media (min-width: 768px) {
  .navbar {
    padding: 20px 0;
    background-color: transparent;
    border: none;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out,background-color .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out,background-color .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out,background-color .5s ease-in-out; }

  .top-nav-collapse {
    padding: 0;
    background-color: #95e1d3; } }
.navbar .navbar__img {
  content: url("../img/MoGo.png"); }
@media (max-width: 768px) {
  .navbar {
    background-color: #95e1d3; } }

#about .about__info--first {
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
  color: black;
  margin-top: 5%; }
#about .about__info--second {
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  margin-top: 0;
  color: black; }
#about .about__info__bar {
  display: inline-block;
  border: 2px solid #f38181;
  width: 50px;
  margin-top: 1.5%; }
#about .about__info--text {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 1.5%;
  width: 60%; }
#about .about__gallery {
  margin-top: 5%;
  margin-bottom: 10%; }
  @media only screen and (max-width: 768px) {
    #about .about__gallery .wrapper {
      margin-bottom: 4%; } }
  @media only screen and (max-width: 768px) {
    #about .about__gallery {
      padding-left: 23.5%; } }
  @media (max-width: 740px) {
    #about .about__gallery {
      padding-left: 23%; } }
  @media (max-width: 715px) {
    #about .about__gallery {
      padding-left: 22%; } }
  @media (max-width: 690px) {
    #about .about__gallery {
      padding-left: 20%; } }
  @media (max-width: 665px) {
    #about .about__gallery {
      padding-left: 19%; } }
  @media (max-width: 640px) {
    #about .about__gallery {
      padding-left: 18%; } }
  @media (max-width: 620px) {
    #about .about__gallery {
      padding-left: 17%; } }
  @media (max-width: 590px) {
    #about .about__gallery {
      padding-left: 16%; } }
  @media (max-width: 570px) {
    #about .about__gallery {
      padding-left: 15%; } }
  @media (max-width: 550px) {
    #about .about__gallery {
      padding-left: 14%; } }
  @media (max-width: 530px) {
    #about .about__gallery {
      padding-left: 13%; } }
  #about .about__gallery__img {
    width: 380px;
    height: 250px;
    opacity: 1;
    z-index: 50; }
    @media only screen and (max-width: 1200px) {
      #about .about__gallery__img {
        width: 310px;
        height: 200px; } }
    @media only screen and (max-width: 992px) {
      #about .about__gallery__img {
        width: 230px;
        height: 150px; } }
    @media only screen and (max-width: 768px) {
      #about .about__gallery__img {
        width: 380px;
        height: 250px; } }
    #about .about__gallery__img--1 {
      background: url("../img/aboutus_pic1.png");
      background-size: cover; }
    #about .about__gallery__img--2 {
      background: url("../img/aboutus_pic2.png");
      background-size: cover; }
    #about .about__gallery__img--3 {
      background: url("../img/aboutus_pic3.png");
      background-size: cover; }
  #about .about__gallery--bg {
    width: 380px;
    height: 250px;
    opacity: 1;
    z-index: -100;
    position: absolute;
    background-color: #95e1d3; }
    @media only screen and (max-width: 1200px) {
      #about .about__gallery--bg {
        width: 310px;
        height: 200px; } }
    @media only screen and (max-width: 992px) {
      #about .about__gallery--bg {
        width: 230px;
        height: 150px; } }
    @media only screen and (max-width: 768px) {
      #about .about__gallery--bg {
        width: 380px;
        height: 250px; } }
  #about .about__gallery--top {
    width: 380px;
    height: 250px;
    opacity: 0;
    z-index: 90;
    position: absolute;
    background: linear-gradient(#f38181, #fce38a); }
    #about .about__gallery--top img {
      display: block;
      margin: auto;
      margin-top: 15%; }
      @media only screen and (max-width: 768px) {
        #about .about__gallery--top img {
          margin-top: 20%; } }
    #about .about__gallery--top span {
      text-transform: uppercase;
      font-weight: bold;
      color: white;
      display: block; }
      @media only screen and (max-width: 768px) {
        #about .about__gallery--top span {
          margin-top: 5%; } }
    @media only screen and (max-width: 1200px) {
      #about .about__gallery--top {
        width: 310px;
        height: 200px; } }
    @media only screen and (max-width: 992px) {
      #about .about__gallery--top {
        width: 230px;
        height: 150px; } }
    @media only screen and (max-width: 768px) {
      #about .about__gallery--top {
        width: 380px;
        height: 250px; } }
    #about .about__gallery--top:hover {
      opacity: 0.8;
      margin-top: -15px;
      margin-left: -15px;
      margin-bottom: 15px;
      -webkit-transition: all 0.7s ease-out;
      -moz-transition: all 0.7s ease-out;
      -ms-transition: all 0.7s ease-out;
      -o-transition: all 0.7s ease-out;
      transition: all 0.7s ease-out; }
    #about .about__gallery--top:hover img {
      opacity: 1 !important; }
    #about .about__gallery--top:hover + .about__gallery__img {
      margin-bottom: 15px;
      margin-top: -15px;
      margin-left: -15px;
      -webkit-transition: all 0.7s ease-out;
      -moz-transition: all 0.7s ease-out;
      -ms-transition: all 0.7s ease-out;
      -o-transition: all 0.7s ease-out;
      transition: all 0.7s ease-out; }

#numbers {
  background-color: #95e1d3; }
  #numbers .numbers__div {
    height: 180px;
    border-right: 1px solid white;
    width: 12.5%; }
    #numbers .numbers__div:nth-child(1) {
      border-left: 1px solid white;
      margin-left: 18.75%; }
    @media (max-width: 768px) {
      #numbers .numbers__div {
        width: 20%; }
        #numbers .numbers__div:nth-child(1) {
          border-left: 1px solid white;
          margin: 0; } }
    #numbers .numbers__div span {
      display: block;
      margin: 0 auto;
      clear: left;
      font-weight: 400 !important;
      color: white; }
    #numbers .numbers__div span.numbers__div__count {
      font-family: 'Montserrat', sans-serif;
      margin-top: 30%;
      font-size: 50px; }
      @media (max-width: 1200px) {
        #numbers .numbers__div span.numbers__div__count {
          font-size: 40px; } }
      @media (max-width: 992px) {
        #numbers .numbers__div span.numbers__div__count {
          font-size: 40px; } }
      @media (max-width: 768px) {
        #numbers .numbers__div span.numbers__div__count {
          font-size: 40px; } }

.say {
  position: relative;
  overflow: hidden;
  background-color: #f8f8f8;
  height: 100%;
  width: 100%; }
  .say__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2; }
  .say__client {
    padding-top: 2%;
    padding-bottom: 5%; }
    .say__client--name {
      font-family: 'Montserrat', sans-serif;
      font-size: 1em;
      padding-top: 1%;
      padding-bottom: 1%;
      padding-left: 5%; }
      @media only screen and (max-width: 992px) {
        .say__client--name {
          margin-top: 8%; } }
    .say__client--job {
      font-family: 'Roboto',sans-serif;
      font-style: italic;
      font-size: 1em;
      padding-bottom: 1%;
      padding-left: 5%; }
      @media only screen and (max-width: 992px) {
        .say__client--job {
          padding-bottom: -4%; } }
    .say__client--text {
      color: #999999;
      padding-top: 1%;
      padding-left: 5%; }
      @media only screen and (max-width: 992px) {
        .say__client--text {
          padding-bottom: 5%; } }
    .say__client div img {
      padding-left: 5%;
      margin-top: 5%; }
      @media only screen and (max-width: 992px) {
        .say__client div img {
          margin-top: 1%; } }
    .say__client--img {
      text-align: left; }
      .say__client--img img {
        width: 90%;
        padding-right: 5%; }
        @media only screen and (max-width: 992px) {
          .say__client--img img {
            width: 60%;
            padding-top: 22%; } }
        @media only screen and (max-width: 768px) {
          .say__client--img img {
            width: 70%;
            padding-top: 25%; } }
        @media screen and (max-width: 600px) {
          .say__client--img img {
            padding-top: 40%;
            padding-left: 5%; } }

@media only screen and (max-width: 768px) {
  .blog__news {
    text-align: center; } }
.blog__news--title {
  padding-top: 4%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; }
  @media only screen and (max-width: 768px) {
    .blog__news--title {
      margin-left: 20%;
      text-align: left; } }
.blog__news--text {
  padding-top: 2%;
  color: #999999;
  padding-left: -2%; }
  @media only screen and (max-width: 768px) {
    .blog__news--text {
      margin-left: 20%;
      text-align: left;
      width: 50%; } }
  @media only screen and (max-width: 600px) {
    .blog__news--text {
      width: 60%; } }
.blog__news--line {
  display: inline-block;
  border: 1px solid #e5e5e5;
  width: 100%;
  margin-top: 1.5%;
  margin-bottom: 1.5%; }
  @media only screen and (max-width: 768px) {
    .blog__news--line {
      width: 60%; } }
  @media only screen and (max-width: 600px) {
    .blog__news--line {
      width: 70%; } }
.blog__news--pictograms {
  padding-top: 2%;
  padding-bottom: 10%;
  opacity: 0.8;
  margin-left: 0px; }
  .blog__news--pictograms span {
    margin-left: 2%;
    margin-right: 2%; }
  @media only screen and (max-width: 768px) {
    .blog__news--pictograms {
      width: 60%; } }
.blog__news figure img {
  padding-left: 5%;
  padding-right: 5%; }
  @media only screen and (max-width: 768px) {
    .blog__news figure img {
      margin: 0 auto;
      padding-left: 0%;
      padding-right: 0%; } }
.blog__news figcaption {
  background-color: #95e1d3;
  position: absolute;
  top: 35%;
  left: 3%;
  right: 82%;
  text-align: center;
  color: white; }
  @media only screen and (max-width: 1200px) {
    .blog__news figcaption {
      top: 30%; } }
  @media only screen and (max-width: 768px) {
    .blog__news figcaption {
      top: 35%;
      left: 20%;
      right: 65%; } }
  @media only screen and (max-width: 670px) {
    .blog__news figcaption {
      left: 15%; } }
  @media only screen and (max-width: 600px) {
    .blog__news figcaption {
      left: 10%; } }
  @media only screen and (max-width: 500px) {
    .blog__news figcaption {
      right: 70%;
      left: -5%; } }
.blog__news--day {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: bold;
  padding-top: 1%;
  padding-bottom: 0px;
  margin-bottom: 0px; }
  @media only screen and (max-width: 1200px) {
    .blog__news--day {
      font-size: 1.7em; } }
  @media only screen and (max-width: 992px) {
    .blog__news--day {
      font-size: 1.2em; } }
  @media only screen and (max-width: 768px) {
    .blog__news--day {
      font-size: 2em; } }
.blog__news--month {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 1em;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 3px;
  margin-left: -4%; }
  @media only screen and (max-width: 1200px) {
    .blog__news--month {
      font-size: 0.9em; } }
  @media only screen and (max-width: 992px) {
    .blog__news--month {
      margin-bottom: 0px;
      font-size: 0.8em; } }
  @media only screen and (max-width: 768px) {
    .blog__news--month {
      margin-bottom: 3px;
      font-size: 1em; } }

.map {
  position: relative;
  overflow: hidden;
  background-color: #f8f8f8;
  height: 100%; }
  .map--back {
    content: url("../img/map_back.png");
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1; }
  .map__inside {
    text-align: center;
    opacity: 1; }
    .map__inside--pictogram {
      padding-top: 2%;
      padding-bottom: 0.5%; }
    .map__inside--text {
      font-family: 'Montserrat', sans-serif;
      font-size: 2em;
      font-weight: bold;
      color: #f38181; }
    .map__inside--text {
      color: #f38181;
      animation-name: example;
      animation-duration: 4s; }
    .map__inside--rectangle {
      width: 5%;
      padding-bottom: 3%; }
  .map a:hover {
    text-decoration: none; }

.foot {
  background-color: #f8f8f8; }
  .foot__1--logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3.5em;
    padding-top: 10%;
    color: #d9d9d9;
    margin-left: -4%; }
  .foot__1--text {
    color: #d9d9d9;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin-left: -4%; }
  .foot__1--line {
    margin-left: -5%; }
    @media only screen and (max-width: 1200px) {
      .foot__1--line {
        width: 100%; } }
  .foot__1--users {
    padding-top: 7%; }
    .foot__1--users--number {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 1.3em; }
    .foot__1--users--user {
      font-family: 'Montserrat', sans-serif; }
  .foot__1--site {
    padding-top: 2%; }
    .foot__1--site--text {
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      color: #d9d9d9;
      padding-right: 4%; }
    .foot__1--site img {
      padding-right: 1.5%; }
      @media only screen and (max-width: 992px) {
        .foot__1--site img {
          padding-right: 3%; } }
  .foot__1 form input[type=text] {
    width: 50%;
    margin-left: -5%;
    padding: 10px 5px 10px 5px;
    display: inline-block;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    margin-top: 5%; }
    @media only screen and (max-width: 500px) {
      .foot__1 form input[type=text] {
        width: 40%; } }
  .foot__1 form input[type=submit] {
    width: 40%;
    background-color: #95e1d3;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    margin: 0;
    border: none;
    cursor: pointer;
    margin-top: 5%;
    margin-left: -1.2%; }
    @media only screen and (max-width: 500px) {
      .foot__1 form input[type=submit] {
        padding-left: 10px; } }
  .foot__2--title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    padding-top: 15%;
    font-weight: bold; }
  .foot__2--row {
    margin-top: 5%; }
    .foot__2--row--text--long {
      font-family: 'Montserrat', sans-serif;
      font-size: 0.8em; }
    .foot__2--row--text--data {
      font-family: 'Roboto', sans-serif;
      font-size: 0.6em;
      font-style: italic;
      font-weight: 100; }
  .foot__3--title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    padding-top: 15%;
    font-weight: bold; }
  .foot__3--insta {
    text-align: center; }
    @media only screen and (max-width: 1200px) {
      .foot__3--insta {
        margin-left: 5%; } }
    .foot__3--insta .row {
      margin-bottom: 2%; }
  .foot__3--text {
    padding-top: 2%;
    font-style: italic; }
    @media only screen and (max-width: 1200px) {
      .foot__3--text {
        text-align: center; } }
  .foot__3--line {
    width: 100%; }
  .foot__3--foot {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%; }
    .foot__3--foot--color {
      color: #f38181; }

.testimontial {
  padding-top: 4%;
  padding-bottom: 5%; }
  .testimontial__slider--left {
    text-align: center;
    margin-top: 5%; }
    @media only screen and (max-width: 768px) {
      .testimontial__slider--left {
        margin-top: 25%; } }
  .testimontial__slider--right {
    text-align: center;
    margin-top: 3%; }
    @media only screen and (max-width: 768px) {
      .testimontial__slider--right {
        margin-top: 0%; } }
  .testimontial__slider--page {
    padding-top: 1%; }
    @media only screen and (max-width: 768px) {
      .testimontial__slider--page {
        padding-left: 35%; } }
    .testimontial__slider--page--img {
      margin-left: 20%; }
      .testimontial__slider--page--img img {
        width: 80%; }
        @media only screen and (max-width: 1200px) {
          .testimontial__slider--page--img img {
            padding-top: 15%;
            width: 80%; } }
        @media only screen and (max-width: 768px) {
          .testimontial__slider--page--img img {
            width: 50%;
            margin-left: -20%;
            text-align: center; } }
    .testimontial__slider--page--text {
      color: #999999;
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      width: 70%; }
      @media only screen and (max-width: 768px) {
        .testimontial__slider--page--text {
          width: 90%;
          margin-top: 50px;
          padding-left: -30%;
          margin-left: -20%; } }
    .testimontial__slider--page--name {
      padding-top: 3%; }
      @media only screen and (max-width: 768px) {
        .testimontial__slider--page--name {
          margin-left: -20%; } }
      .testimontial__slider--page--name--name {
        font-family: 'Kaushan Script', cursive; }

.carousel-control.left,
.carousel-control.right {
  background-image: none;
  height: 50px;
  margin-top: 0%; }
  @media only screen and (max-width: 768px) {
    .carousel-control.left img,
    .carousel-control.right img {
      margin-top: 10%; } }

#services {
  margin-bottom: 5%; }
  #services .services__intro__text--first {
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    color: black;
    margin-top: 5%; }
  #services .services__intro__text--second {
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin-top: 0;
    color: black; }
  #services .services__intro__bar {
    display: inline-block;
    border: 2px solid #f38181;
    width: 50px;
    margin-top: 1.5%;
    margin-bottom: 5%; }
  #services .services__gallery .row--first {
    margin-bottom: 5%; }
  #services .services__gallery .row--second {
    margin-top: 5%;
    margin-bottom: 5%; }
  #services .services__gallery .left {
    margin-left: 5%; }
  #services .services__gallery__block .title {
    text-transform: uppercase;
    font-weight: bold; }
  @media (min-width: 1500px) {
    #services .services__gallery__block {
      width: 30%;
      margin-left: 1.5%; } }
  #services .services__gallery__block__pic img {
    width: 150%; }
    @media (min-width: 1500px) {
      #services .services__gallery__block__pic img {
        width: 100%; } }
    @media (max-width: 1100px) {
      #services .services__gallery__block__pic img {
        width: 200%; } }
    @media (max-width: 900px) {
      #services .services__gallery__block__pic img {
        width: 300%; } }
    @media (max-width: 850px) {
      #services .services__gallery__block__pic img {
        width: 400%; } }
    @media (max-width: 800px) {
      #services .services__gallery__block__pic img {
        width: 500%; } }
    @media only screen and (max-width: 768px) {
      #services .services__gallery__block__pic img {
        width: 100%; } }
    @media (max-width: 500px) {
      #services .services__gallery__block__pic img {
        width: 150%; } }
  @media only screen and (max-width: 768px) {
    #services .services__gallery__block {
      margin: 5% 0 5% 0 !important; } }
  #services .services__gallery .middle-bar {
    display: inline-block;
    border: 1px solid #e5e5e5;
    width: 90%;
    margin-left: 5%; }

#design {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%; }
  #design img.design__bg {
    content: url("../img/feature_bg.png");
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1; }
  #design .design__intro {
    height: 100%; }
    #design .design__intro__text--first {
      font-family: 'Kaushan Script', cursive;
      font-size: 20px;
      color: black;
      margin-top: 5%; }
    #design .design__intro__text--second {
      text-transform: uppercase;
      font-size: 30px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
      margin-top: 0;
      color: black; }
    #design .design__intro__bar {
      display: inline-block;
      border: 2px solid #f38181;
      width: 50px;
      margin-top: 1.5%;
      margin-bottom: 5%; }
    #design .design__intro__image {
      height: 100%; }
      #design .design__intro__image .tablet {
        height: 100%; }
        #design .design__intro__image .tablet img {
          flex: 1;
          margin-left: auto;
          margin-right: auto; }
  #design .design__phone__img img {
    z-index: 10;
    margin-left: 57%;
    margin-top: -20%; }
    @media (max-width: 1400px) {
      #design .design__phone__img img {
        margin-left: 60%;
        margin-top: -30%; } }
    @media (max-width: 1200px) {
      #design .design__phone__img img {
        margin-left: 58%;
        margin-top: -32%; } }
    @media (max-width: 1100px) {
      #design .design__phone__img img {
        margin-left: 60%;
        margin-top: -35%; } }
    @media (max-width: 1000px) {
      #design .design__phone__img img {
        margin-left: 60%;
        margin-top: -40%; } }
    @media (max-width: 850px) {
      #design .design__phone__img img {
        margin-left: 62%;
        margin-top: -50%; } }
    @media (max-width: 700px) {
      #design .design__phone__img img {
        margin-left: 65%;
        margin-top: -55%;
        width: 40%; } }

#service {
  margin-bottom: 5%; }
  #service .service__info--first {
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    color: black;
    margin-top: 5%; }
  #service .service__info--second {
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin-top: 0;
    color: black; }
  #service .service__info__bar {
    display: inline-block;
    border: 2px solid #f38181;
    width: 50px;
    margin-top: 1.5%; }
  #service .service__info--text {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1.5%;
    width: 60%; }
  #service .service__details {
    margin-top: 5%;
    margin-bottom: 5%; }
    #service .service__details__photo img {
      position: absolute;
      display: block;
      right: 10px;
      margin-left: 10px;
      margin-bottom: 5%; }
      @media only screen and (max-width: 992px) {
        #service .service__details__photo img {
          position: relative;
          margin: 0 auto;
          right: 0;
          margin-bottom: 2%; } }
    #service .service__details__accordion .panel-group .panel {
      border: 0 none;
      border-radius: 0;
      box-shadow: none;
      max-width: 570px; }
      @media only screen and (max-width: 992px) {
        #service .service__details__accordion .panel-group .panel {
          margin: 0 auto; } }
    #service .service__details__accordion .panel-default > .panel-heading {
      padding: 0;
      border-radius: 0;
      background-color: white;
      border: 2px solid #e5e5e5;
      border-radius: 2px; }
    #service .service__details__accordion .panel-title {
      height: 69px; }
    #service .service__details__accordion .panel-title > a {
      display: block;
      padding: 15px;
      position: relative;
      color: black;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 20px;
      line-height: 40px; }
      #service .service__details__accordion .panel-title > a:focus, #service .service__details__accordion .panel-title > a:hover {
        text-decoration: none;
        outline: none; }
      #service .service__details__accordion .panel-title > a:after {
        content: "\2303";
        font-family: FontAwesome;
        color: #999999;
        position: absolute;
        right: 15px;
        top: 27px;
        font-size: 48px; }
      #service .service__details__accordion .panel-title > a.collapsed:after {
        content: "\2304";
        font-family: FontAwesome;
        color: #999999;
        position: absolute;
        right: 15px;
        top: 5px;
        font-size: 48px; }
      #service .service__details__accordion .panel-title > a img {
        margin-right: 3%; }
    #service .service__details__accordion .panel-body {
      background: #fff;
      color: #888;
      font-size: 13px;
      line-height: 20px;
      border: 2px solid #e5e5e5;
      border-radius: 2px;
      max-height: 200px;
      overflow: auto;
      overflow-x: hidden; }
    #service .service__details__accordion .panel-default > .panel-heading + .panel-collapse > .panel-body {
      border-top: 0 none; }

#carousel1 {
  background-color: #e5e5e5;
  margin-bottom: 5%; }
  #carousel1 .carousel-inner .item .carousel__slide {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 5%; }
    #carousel1 .carousel-inner .item .carousel__slide--img {
      padding-right: 10%; }
      #carousel1 .carousel-inner .item .carousel__slide--img img {
        display: block;
        padding: 15px;
        border: 3px solid #95e1d3;
        margin-right: 5%; }
    #carousel1 .carousel-inner .item .carousel__slide div .carousel__slide {
      padding-left: 15%; }
      #carousel1 .carousel-inner .item .carousel__slide div .carousel__slide--text {
        color: #999999;
        font-size: 16px; }
      #carousel1 .carousel-inner .item .carousel__slide div .carousel__slide--name span {
        font-size: 16px;
        font-family: 'Kaushan Script', cursive; }

.carousel-control.left {
  background-image: none; }
  .carousel-control.left img {
    display: block;
    margin-top: 50%;
    margin-left: 80%; }
    @media only screen and (max-width: 768px) {
      .carousel-control.left img {
        margin-top: 100%; } }

.carousel-control.right {
  background-image: none; }
  .carousel-control.right img {
    display: block;
    margin-top: 50%; }
    @media only screen and (max-width: 768px) {
      .carousel-control.right img {
        margin-top: 100%; } }

@media (max-width: 1200px) {
  .carousel-control {
    margin-top: 40%; } }
@media (max-width: 1300px) {
  .carousel-control {
    margin-top: 30%; } }

.page-title {
  text-align: center; }
  .page-title__main {
    font-family: Kaushan Script;
    font-size: 20px;
    margin-top: 5%; }
  .page-title__subtitle {
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin-top: 0; }
  .page-title__bar {
    display: inline-block;
    border: 2px solid #f38181;
    width: 50px;
    margin-top: 1.5%;
    margin-bottom: 1.5%; }
  .page-title__text {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1.5%;
    width: 60%;
    color: #d9d9d9; }
