#banner{

  position:relative;
  overflow: hidden;
  background: -webkit-linear-gradient($gradient-top, $gradient-bottom);
  background: -o-linear-gradient($gradient-top, $gradient-bottom);
  background: -moz-linear-gradient($gradient-top, $gradient-bottom);
  background: linear-gradient($gradient-top, $gradient-bottom);
  img{
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    opacity: 0.1;
  }
  .banner__info--first{
    font-family: 'Kaushan Script', cursive;
    text-transform: capitalize;
    font-size: 65px;
    color: white;
    margin-top: 10%;
  }
  .banner__info--second{
    text-transform: uppercase;
    font-size: 120px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 110px;
    margin-top: 2%;
    color: white;
  }
  .banner__info__bar{
    display:inline-block;
    border: 2px solid white;
    width: 50px;
    margin-top: 3%;
  }
  .banner__info__button{
    text-transform: uppercase;
    border: 3px solid white;
    border-radius: 0;
    background-color: transparent;
    color: white;
    font-weight: 700;
    width: 150px;
    height: 40px;
    margin-top: 3%;
    margin-bottom: 10%;
    &:hover{
      background: $gradient-top;
      border: 2px solid $gradient-top;
      -webkit-transition: all .5s ease-in-out;
      -moz-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
    }
  }
  .banner__slider{
    width:90%;
    margin: 0;
    text-align:left;
    text-transform: uppercase;
    @media(max-width:1600px){
      margin-left:7%;
    }
    @media(max-width:$xs){
      padding-left:0%;
    }
    &__slide{
      opacity:0.6;
      color:white;
      .slide__bar{
        border: 2px white solid;
        width:80%;
        margin-left: 4%;
      }
      .slide__text{
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 5%;
        @media(max-width:$xs){
          font-size: 10px;
        }
        span{
          font-size: 20px;
          @media(max-width:$xs){
            font-size: 15px;
          }
        }
      }
    }
    .active-slide{
      opacity:1;
    }
  }
}
@media(max-width:$md){
  .banner__info--first{
    font-size: 55px !important;
  }
  .banner__info--second{
    font-size: 100px !important;
    line-height: 90px !important;
  }
}
@media(max-width:$sm){
  .banner__info--first{
    font-size: 45px !important;
  }
  .banner__info--second{
    font-size: 80px !important;
    line-height: 70px !important;
  }
}
@media(max-width:$xs){
  .banner__info--first{
    font-size: 40px !important;
  }
  .banner__info--second{
    font-size: 70px !important;
    line-height: 60px !important;
  }
}
@media(max-width:500px){
  .banner__info--first{
    font-size: 20px !important;
  }
  .banner__info--second{
    font-size: 30px !important;
    line-height: 35px !important;
  }
}