.blog{
  &__img{
    &--top{
      padding-top: 4%;
      font-family: 'Montserrat', sans-serif;
      margin-left: -4%;
      font-weight: 600;
    }
    &--middle{
      padding-top: 2%;
      color: $color-grey-dark;
      padding-left: -2%;
      margin-left: -4%;
    }
    &--line{
      width:120%;
      margin-left: -10%;
      @media #{$xs-screen}
      {
        width:100%;
      }
    }
    &--pictograms{
      padding-top: 2%;
      padding-bottom: 10%;
      opacity: 0.8;
      span{
        margin-left: 2%;
        margin-right: 2%;
      }
    }
  &--img{
    text-align: center;
    figcaption{
      background-color: $color-blue;
      position: absolute;
      top:35%;
      left:-3%;
      right: 84%;
      text-align: center;
      color: white;
      @media #{$md-screen}
      {
        top:30%;
      }
      @media #{$sm-screen}
      {
        top:20%;
      }
      @media #{$xs-screen}
      {
        top:35%;
      }
    }
    &--1{
      font-family: 'Montserrat', sans-serif;
      font-size: 1.1em;
      font-weight: bold;
      padding-top: 1%;
      padding-bottom: 0px;
      margin-bottom: 0px;
      @media #{$xs-screen}
      {
        font-size: 1.5em;
      }
    }
    &--2{
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      font-size: 0.9em;
      padding-top: 0px;
      margin-top: 0px;
      margin-bottom: 3px;
      @media #{$sm-screen}
      {
        margin-bottom: 0px;
      }
      @media #{$xs-screen}
      {
        margin-bottom: 3px;
      }
    }
  }
  }
}