#carousel1{
  background-color: $color-grey-middle;
  margin-bottom: 5%;
  .carousel-inner{
    .item{
      .carousel__slide{
        padding-top: 60px;
        padding-bottom: 60px;
        margin-bottom: 5%;
        &--img{
          padding-right: 10%;
          img{
            display:block;
            padding:15px;
            border:3px solid $color-blue;
            margin-right: 5%;
          }
        }
        div{
          .carousel__slide{
            padding-left: 15%;
            &--text{
              color:$color-grey-dark;
              font-size: 16px;
            }
            &--name{
              span{
                font-size: 16px;
                font-family: 'Kaushan Script', cursive;
              }
            }
          }
        }
      }
    }
  }
}


.carousel-control.left{
  background-image: none;
  img{
    display:block;
    margin-top: 50%;
    margin-left: 80%;
    @media #{$xs-screen}
    {
      margin-top: 100%;
    }
  }

}
.carousel-control.right{
  background-image: none;
  img{
    display:block;
    margin-top: 50%;
    @media #{$xs-screen}
    {
      margin-top: 100%;
    }
  }
}
.carousel-control{
  @media(max-width:1200px){
    margin-top:40%;
  }
  @media(max-width:1300px){
    margin-top:30%;
  }
}
