.carousel1 {
  background-color: $color-grey-middle;
  padding-top: 1%;
  padding-bottom: 1%;
  &__slider {
    &--left {
      text-align: center;
      margin-top: 5%;
      @media #{$xs-screen}
      {
        margin-top: 25%;
      }
    }
    &--right {
      text-align: center;
      margin-top: 3%;
      @media #{$xs-screen}
      {
        margin-top: 0%;
      }
    }
    &--page {
      margin-left:15%;
      padding-top: 1%;
      @media #{$xs-screen}
      {
        margin-left:8%;
        padding-left: 35%
      }
      &--img {

        margin-left: 12%;
        margin-right: 5%;
        width: 100px !important;
        height: 100px!important;
        border: 2px solid $color-blue;
        padding:18px;

        img {
          width: 63px !important;
          height: 61px!important;
          @media #{$xs-screen}
          {
            margin:auto;
          }
        }
        @media #{$xs-screen}
        {
          margin:auto;
        }
        @media(max-width:600px){
          margin-left:-5%;
        }
      }
      &--text {
        color: $color-grey-dark;
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        width: 70%;
        @media #{$xs-screen}
        {
          width: 150%;
          margin-top: 50px;
          padding-left: -30%;
          margin-left: -65%;
        }
      }
      &--name {
        padding-top: 3%;
        @media #{$xs-screen}
        {
          margin-left: -65%;
        }
        &--name {
          font-family: 'Kaushan Script', cursive;
        }
      }
    }
  }

}
.carousel-control.left,
.carousel-control.right{
  background-image: none;
  height: 50px;
  margin-top: 3%;
  img{
    @media #{$xs-screen}
    {
      margin-top: 100%;
    }
    @media(max-width:640px){
      margin-top:120%;
    }
    @media(max-width:480px){
      margin-top:200%;
    }
    @media(max-width:420px){
      margin-top:250%;
    }
  }

}
