$color-blue:rgb(149,225,211);
$color-grey:rgb(248,248,248);
$color-red: rgb(243,129,129);
$color-yellow:rgb(252,227,138);

$gradient-bottom: RGB(252,226,138);
$gradient-top: RGB(244,140,130);


//format("opentype");

// use @import 'colors';
