.foot {
  background-color: $color-grey;
  &__1 {
    &--logo {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 3.5em;
      padding-top: 10%;
      color: $color-grey-light;
      margin-left: -4%;
    }
    &--text {
      color: $color-grey-light;
      font-family: 'Roboto', sans-serif;
      font-size: 1em;
      margin-left: -4%;
    }
    &--line {
      margin-left: -5%;
      width: 105%;
    }
    &--users {
      padding-top: 7%;
      &--number {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 1.3em;
      }
      &--user {
        font-family: 'Montserrat', sans-serif;
      }
    }
    &--site {
      padding-top: 2%;
      display: inline-flex;
      ul {
        padding-left: -40px;
        margin-left: 0px;
        -webkit-padding-start: 0px;
      }
      &--sprite {
        display: inline-flex;
        flex-flow: row wrap;
        li {
          height: 30px;
          margin: 0;
          padding: 0;
          list-style: none;
          width: 25px;
          a {
            width: 25px;
            height: 30px;
            display: inline-block;
          }
        }
      }
      &--text {
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        white-space: nowrap;
        color: $color-grey-light;
        margin-top: 5px;
        margin-left: -5px;
        padding-right: 5px;
        @media#{$sm-screen}{
          margin-left: -5%;
        }
        @media#{$xs-screen}{
          margin-left: 0px;
        }
      }
      img {
        padding-right: 1.5%;
        @media #{$sm-screen}
        {
          padding-right: 3%;
        }
      }
    }
    form {
      input[type=text] {
        width: 50%;
        margin-left: -1%;
        padding: 10px 5px 10px 5px;
        display: inline-block;
        border: 1px solid $color-grey-middle;
        box-sizing: border-box;
        margin-top: 5%;
        @media#{$xs-screen}{
          width: 100%;
          margin-left: 0%;
        }
      }
      input[type=submit] {
        width: 40%;
        background-color: $color-blue;
        color: white;
        font-family: 'Montserrat', sans-serif;
        padding: 11px 20px;
        border: none;
        cursor: pointer;
        margin-top: 5%;
        margin-left: -1.2%;
        @media#{$xs-screen}{
          width: 100%;
          margin-left: 0%;
          margin-top: 0%;
        }
        @media only screen and (max-width: 500px) {
          font-size: 0.8em;
          margin-top: 0%;
          padding: 13px 5px;
        }
      }
    }
  }
  &__2 {
    &--title {
      font-family: 'Montserrat', sans-serif;
      font-size: 1.3em;
      padding-top: 15%;
      font-weight: bold;
      @media#{$xs-screen}{
        margin-left: -3%;
      }
    }
    &--row {
      margin-top: 5%;
      &--text {
        &--long {
          font-family: 'Montserrat', sans-serif;
          font-size: 0.8em;
          @media#{$sm-screen}{
            font-size: 1em;
          }
          @media all and(max-width: 600px) {
            font-size: 0.8em;
          }
        }
        &--data {
          font-family: 'Roboto', sans-serif;
          font-size: 0.6em;
          font-style: italic;
          font-weight: 100;
          @media#{$sm-screen}{
            font-size: 0.8em;
          }
          @media all and(max-width: 600px) {
            font-size: 0.6em;
          }
        }
      }
      @media#{$md-screen}{
        img {
          width: 80%;
        }
      }
      @media#{$xs-screen}{
        img {
          width: 100%;
        }
      }
      @media all and(max-width: 400px) {
        img {
          margin-top: 5%;
          width: 150%;
        }
      }
    }
  }
  &__3 {
    &--insta {
      text-align: center;
      @media #{$md-screen}
      {
        margin-left: 5%;
      }
      .row {
        margin-bottom: 1%;
        img{
          margin-left: 0%;
        }
      }
      @media#{$md-screen} {
        .row {
          img {
            width: 30%;
          }
        }
      }
      @media#{$sm-screen} {
        .row {
          img {
            width: 20%;
          }
        }
      }
      @media all and(max-width: 500px) {
        .row {
          img {
            width: 30%;
          }
        }
      }
    }
    &--text {
      padding-top: 2%;
      font-style: italic;
      @media #{$md-screen}{
        text-align: center;
      }
    }
    &--line {
      width: 100%;
    }
    &--foot {
      text-align: center;
      font-family: 'Montserrat', sans-serif;

      font-weight: bold;
      margin-top: 2%;
      margin-bottom: 2%;
      &--color {
        color: $color-red;
      }
    }
  }
}

#dribble {
  background: url('../img/pictograms/spritesheet.png') 0 0;
}

#facebook {
  background: url('../img/pictograms/spritesheet.png') -25px 0;
}

#google {
  background: url('../img/pictograms/spritesheet.png') -50px 0;
}

#instagram {
  background: url('../img/pictograms/spritesheet.png') -75px 0;
}

#pinterest {
  background: url('../img/pictograms/spritesheet.png') -100px 0;
}

#tumblr {
  background: url('../img/pictograms/spritesheet.png') -125px 0;
}

#twitter {
  background: url('../img/pictograms/spritesheet.png') -150px 0;
}

#youtube {
  background: url('../img/pictograms/spritesheet.png') -175px 0;
}
