.foot{
  background-color: $color-grey;
  &__1 {
    &--logo {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 3.5em;
      padding-top: 10%;
      color: $color-grey-light;
      margin-left: -4%;
    }
    &--text {
      color: $color-grey-light;
      font-family: 'Roboto', sans-serif;
      font-size: 1em;
      margin-left: -4%;
    }
    &--line{
      margin-left: -5%;
      @media #{$md-screen}
      {
        width: 100%;
      }
    }
    &--users {
      padding-top: 7%;
      &--number {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 1.3em;
      }
      &--user {
        font-family: 'Montserrat', sans-serif;
      }
    }
    &--site {
      padding-top: 2%;
      &--text {
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        color: $color-grey-light;
        padding-right: 4%;
      }
      img{
        padding-right: 1.5%;
        @media #{$sm-screen}
        {
          padding-right: 3%;
        }
      }
    }
    form {
      input[type=text] {
        width: 50%;
        margin-left: -5%;
        padding: 10px 5px 10px 5px;
        display: inline-block;
        border: 1px solid $color-grey-middle;
        box-sizing: border-box;
        margin-top: 5%;
        @media only screen and (max-width: 500px){
          width: 40%;
        }
      }
      input[type=submit] {
        width: 40%;
        background-color: $color-blue;
        color: white;
        font-family: 'Montserrat', sans-serif;
        padding: 10px 20px;
        margin: 0;
        border: none;
        cursor: pointer;
        margin-top: 5%;
        margin-left: -1.2%;
        @media only screen and (max-width: 500px){
          padding-left: 10px;
        }
      }
    }
  }
  &__2 {
      &--title {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.3em;
        padding-top: 15%;
        font-weight: bold;
        //margin-left: 5%;
      }
    &--row {
      margin-top: 5%;
      &--text {
        &--long {
          font-family: 'Montserrat', sans-serif;
          font-size: 0.8em;
        }
        &--data {
          font-family: 'Roboto', sans-serif;
          font-size: 0.6em;
          font-style: italic;
          font-weight: 100;
        }
      }
    }
  }
  &__3 {
    &--title {
      font-family: 'Montserrat', sans-serif;
      font-size: 1.3em;
      padding-top: 15%;
      font-weight: bold;
    }
    &--insta {
      text-align: center;
      @media #{$md-screen}
      {
        margin-left: 5%;
      }
      .row {
        margin-bottom: 2%;
      }
    }
    &--text {
      padding-top: 2%;
      font-style: italic;
      @media #{$md-screen}{
        text-align: center;
      }
    }
    &--line{
      //margin-left: -5%;
      width: 100%;
    }
    &--foot{
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      margin-top: 2%;
      margin-bottom: 2%;
      &--color{
        color: $color-red;
      }
    }
  }
}