.logos{
  margin-top: 3%;
  background-color: $color-grey;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
  div{
    .logos__row{
      div{
        img{
          @media #{$sm-screen}
          {
            padding-top: 30px;
          }
          @media only screen and (max-width: 480px){
            width: 70%;
          }
        }
      }
      div:nth-child(4) {
        padding-top: 10px;
      }
      div:nth-child(5),
      div:nth-child(6) {
        @media #{$xs-screen}
        {
          padding-top: -20px;
        }
        @media only screen and (max-width: 480px){
          margin-top: -90px;
        }
      }
      div:nth-child(6){
        @media only screen and (max-width: 387px) {
          margin-left: 35%;
        }
      }
    }

  }
}