.logos{
  margin-top: 3%;
  background-color: $color-grey;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
  div{
    .logos__row{
      div{
        img{
          @media #{$xs-screen}
          {
            margin-bottom: 50px;
          }
        }
      }
    }
  }
}