.meet {
  text-align: center;
  padding-bottom: 5%;
  img {
    border: none;
    max-width: 100%;
  }
  &__gallery {
    text-align: center;
    &__item {
      background: #95e1d3;
      display: inline-block;
      &__overlay {
        display: inline-block;
        position: relative;
        left: 0;
        top: 0;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          -ms-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
          background: rgba(243, 129, 129, 0.9);

          background: -webkit-linear-gradient(top, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
          background: -o-linear-gradient(top, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
          background: linear-gradient(to bottom, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));

        }
        .content {
          position: absolute;
          left: 0;
          top: 50%;
          width: 100%;
          z-index: 1;
          opacity: 0;
          text-align: center;
          color: #fff;
          text-transform: uppercase;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }
      &:hover .meet__gallery__item__overlay {
        left: -10px;
        top: -10px;
        &:before {
          opacity: 1;
        }
      }
      @media(max-width:$xs){
        margin-bottom:2%;
      }
    }

    .meet__gallery__item:hover .content {
      opacity: 1;
    }
  }
  .content {
    font-weight: 700;
    font-size: 20px;
    a {
      .icon {
        display: inline-block;
        margin: 0 auto;
      }
    }
  }
  @media (max-width: 992px) {
    section {
      padding: 45px 0;
    }

  }
  @media (max-width: 768px) {
    .meet__gallery .meet__gallery__item {
      margin-bottom: 15px;
    }
  }

  article {
    .col-xs-12 {
      padding-top: 3%;
    }
  }
  &__name {
    text-align: center;
    position: relative;
    @media #{$xs-screen}
    {
      opacity: 0;
      position: absolute;
      font-size: 0em;
      margin-top: -100px;
    }
    div {
      padding-top: 3%;
      .meet__name--name {
        font-weight: bold;
        font-size: 1.1em;

      }
      .meet__name--work {
        color: $color-grey-middle;
        font-style: italic;
        font-size: 1em;
      }
    }
  }
  &__team--img {
    padding: 15px 15px 15px 15px;
    top:0;
    margin: 0 0 0 -5px;
    background-color: $color-yellow;

    &:hover{
      background-color: $color-red;
    }

    &:first-child {
      content: url(../img/pictograms/meet_facebook.png);
    }

    &:first-child {
      content: url(../img/pictograms/meet_facebook.png);
    }

    &:nth-child(2) {
      content: url(../img/pictograms/meet_twitter.png);
      &:hover {
        content: url(../img/pictograms/meet_twitter_white.png);
      }
    }

    &:nth-child(3) {
      content: url(../img/pictograms/meet_pinterest.png);
      &:hover{
        content: url(../img/pictograms/meet_pinterest_white.png);
      }
    }

    &:nth-child(4) {
      content: url(../img/pictograms/meet_instagram.png);
      &:hover{
        content: url(../img/pictograms/meet_instagram_white.png);
      }
    }

  }
}

.meet__name--xs {
  text-align: center;
  opacity: 0;
  position: absolute;
  @media #{$xs-screen}{
    position: relative;
    opacity: 1;
       &--name {
         font-weight: bold;
         font-size: 1.1em;
       }
       &--work {
         color: $color-grey-middle;
         font-style: italic;
         font-size: 1em;
       }
     }
}










