.meet {
  text-align: center;
  div {
    .col-xs-12 {
      padding-top: 3%;
      @media #{$xs-screen}
      {
        padding: 5% 0 0 28%;
      }
      @media only screen and (max-width: 600px) {
        padding: 5% 0 0 20%;
      }
      @media only screen and (max-width: 400px) {
        padding: 5% 0 0 15%;
      }
      .meet__team {
        &--people {
          width: 360px;
          height: 450px;
          opacity: 1;
          z-index: 50;
          @media #{$md-screen}
          {
            width: 300px;
            height: 400px;
          }
          @media #{$sm-screen}
          {
            width: 200px;
            height: 300px;
          }
          @media #{$xs-screen}
          {
            width: 360px;
            height: 450px;
          }
          @media only screen and (max-width: 500px) {
            width: 250px;
            height: 350px;
          }
          &--1 {
            background: url('../img/meet_img_1.png');
            background-size: cover;
          }
          &--2 {
            background: url('../img/meet_img_2.png');
            background-size: cover;
          }
          &--3 {
            background: url('../img/meet_img_3.png');
            background-size: cover;
          }
        }

        &--back {
          width: 360px;
          height: 450px;
          opacity: 1;
          z-index: -400;
          position: absolute;
          background-color: $color-blue;
          @media #{$md-screen}
          {
            width: 300px;
            height: 400px;
          }
          @media #{$sm-screen}
          {
            width: 200px;
            height: 300px;
          }
          @media #{$xs-screen}
          {
            width: 360px;
            height: 450px;
          }
          @media only screen and (max-width: 500px) {
            width: 250px;
            height: 350px;
          }
        }
        &--background {
          opacity: 0;
          position: absolute;
          background: $color-red-08;
          background: -webkit-linear-gradient($color-red-08, $color-yellow-08);
          background: -o-linear-gradient($color-red-08, $color-yellow-08);
          background: -moz-linear-gradient($color-red-08, $color-yellow-08);
          background: linear-gradient($color-red-08, $color-yellow-08);
          width: 360px;
          z-index: 400;
          height: 450px;
          margin-top: 0%;
          @media #{$md-screen}
          {
            width: 300px;
            height: 400px;
          }
          @media #{$sm-screen}
          {
            width: 200px;
            height: 300px;
          }
          @media #{$xs-screen}
          {
            width: 360px;
            height: 450px;
          }
          @media only screen and (max-width: 500px) {
            width: 250px;
            height: 350px;
          }
        }
        &--imgs {
          position: absolute;
          z-index: 300;
          margin: 20% 0 0 20%;
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            margin: 50% 0 0 20%;
          }
          @-moz-document url-prefix() {
            margin: 50% 0 0 20%;
          }
          .meet__team--img {
            position: relative;
            padding: 15px 15px 15px 15px;
            margin: 50% 0 0 -5px;
            background-color: $color-yellow;
          }
          .meet__team--img:first-child {
            margin-top: 50%;
            content: url(../img/pictograms/meet_facebook.png);
          }
          .meet__team--img:nth-child(2) {
            content: url(../img/pictograms/meet_twitter.png);
            padding-top: 19px;
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
              padding-top: 15px;
            }
            @-moz-document url-prefix() {
              padding-top: 15px;
            }
            @media#{$md-screen}
            {
              padding-top: 14px;
              @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                padding-top: 15px;
              }
              @-moz-document url-prefix() {
                padding-top: 15px;
              }
            }
            @media only screen and (max-width: 1000px) {
              @-moz-document url-prefix() {
                padding-top: 10px;
              }
            }
            @media#{$xs-screen}
            {
              padding-top: 19px;
              @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                padding-top: 15px;
              }
              @-moz-document url-prefix() {
                padding-top: 15px;
              }
            }
            @media only screen and (max-width: 500px) {
              padding-top: 14px;
              @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                padding-top: 10px;
              }
              @-moz-document url-prefix() {
                padding-top: 10px;
              }
            }
          }

          .meet__team--img:nth-child(2):hover {
            content: url(../img/pictograms/meet_twitter_white.png);
          }
          .meet__team--img:nth-child(3) {
            content: url(../img/pictograms/meet_pinterest.png);
          }
          .meet__team--img:nth-child(3):hover {
            content: url(../img/pictograms/meet_pinterest_white.png);
          }
          .meet__team--img:nth-child(4) {
            content: url(../img/pictograms/meet_instagram.png);
          }
          .meet__team--img:nth-child(4):hover {
            content: url(../img/pictograms/meet_instagram_white.png);
          }
          .meet__team--img:last-child {
            img {
              margin-right: 10px;
            }
          }
          .meet__team--img:hover {
            background-color: $color-red;
          }
          @media #{$sm-screen} {
            margin-left: 10%;
            .meet__team--img {
              padding: 10px 10px 10px 10px;
            }
          }
          @media #{$xs-screen}{
            margin-left: 20%;
            .meet__team--img {
              padding: 15px 15px 15px 15px;
            }
          }
          @media only screen and (max-width: 500px) {
            margin-left: 15%;
            .meet__team--img {
              padding: 10px 10px 10px 10px;
            }
          }
        }
        &--background:hover {
          opacity: 1;
          margin: -20px 0 20px -20px;
        }
        &--background:hover + .meet__team--people {
          margin: -20px 0 20px -20px;
        }
      }
    }
  }
  &__name {
    text-align: center;
    position: relative;
    @media #{$xs-screen}
    {
      opacity: 0;
      position: absolute;
      font-size: 0em;
      margin-top: -100px;
    }
    div {
      padding-top: 3%;
      .meet__name--name {
        font-weight: bold;
        font-size: 1.1em;

      }
      .meet__name--work {
        color: $color-grey-middle;
        font-style: italic;
        font-size: 1em;
      }
    }
    &--xs {
      @media #{$xs-screen}{
        position: relative;
        opacity: 1;
        margin-left: -30%;
        &--name {
          font-weight: bold;
          font-size: 1.1em;
        }
        &--work {
          color: $color-grey-middle;
          font-style: italic;
          font-size: 1em;
        }
      }
      opacity: 0;
      position: absolute;
    }
  }
}





