.meet {
  .meet__title__top {
    font-family: Kaushan Script;
    text-align: center;
    font-size: 2em;
  }
  .meet__title__middle {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
  }
  div {
    text-align: center;
    .meet__rectangle {
      padding-bottom: 3%;
      padding-top: 1%;
    }
    .meet__text {
      color:$color-grey-light;
      font-size: 1em;
      @media only screen and (max-width: $sm)
      {
        font-size: 0.8em;
      }
      @media only screen and (max-width: $xs)
      {
        font-size: 1em;
      }
    }
  }
  .meet__team {
    padding-top: 3%;
    div {
      div {
        .meet__team__img {
          img {
            width: 90%;
            left: 30px;
            margin-top:-459px;
            @media only screen and (max-width: $md)
            {
              margin-top:-370px;
            }
            @media only screen and (max-width: $sm)
            {
              margin-top:-305px;
            }
            @media only screen and (max-width: $xs)
            {
              width: 350px;
              margin-top:-455px;
            }
          }
        }
        .meet__team__img:before{
          content: " ";
          display: block;
          width: 351px;
          height: 434px;
          background-color: $color-blue;
          margin-left: 20px;
          @media only screen and (max-width: $md)
          {
            width: 285px;
            height: 355px;
            margin-top: 10px;
          }
          @media only screen and (max-width: $sm)
          {
            width: 225px;
            height: 280px;
            margin-top: 10px;
            margin-left: 15px;
          }
          @media only screen and (max-width: $xs)
          {
            width: 350px;
            height: 435px;
            margin-left: 26.5%;
          }
        }
        .meet__team__img:after{
          content: " ";
          position: absolute;
          width: 351px;
          height: 434px;
          background: linear-gradient($color-red, $color-yellow);
          margin-left: -350px;
          margin-top: -435px;
          opacity: 0;
          @media only screen and (max-width: $md)
          {
            width: 290px;
            height: 362px;
            margin-left: -290px;
            margin-top: -350px;
          }
          @media only screen and (max-width: $sm)
          {
            width: 229px;
            height: 280px;
            margin-left: -230px;
            margin-top: -280px;
          }
          @media only screen and (max-width: $xs)
          {
            width: 350px;
            height: 435px;
            margin-left: -350px;
            margin-top: -435px;
          }
        }
        .meet__team__img:hover {
          img {
            margin-left: -20px;
            margin-bottom: 20px;
            transition: .5s ease;
            @media only screen and (max-width: $md)
            {
              margin-bottom: 30px;
            }
          }
        }
        .meet__team__img:hover:after{
          margin-top: -445.5px;
          transition: .5s ease;
          opacity: 0.8;
          @media only screen and (max-width: $md)
          {
            margin-top: -370px;
          }
          @media only screen and (max-width: $sm){
            margin-top: -297px;
          }
          @media only screen and (max-width: $xs){
            margin-top: -450px;
          }
        }
       /* .meet__team__img:hover:after{
          content: "tekst ";
          display: block;
          background: linear-gradient($color-red, $color-yellow);
          height: 434.13px;
          width: 351px;
          margin-top:-459px;
          z-index: 5;
        }*/
      }
      .meet__team__name{
        font-weight: bold;
        padding-top: 3%;
        font-size: 1.1em;
      }
      .meet__team__work{
        color:$color-grey-middle;
        padding-top: 3%;
        font-style: italic;
        font-size: 1em;
      }
    }
    .meet__team__img__small{
      width: 8%;
      display: inline;
      img {
        z-index: 50;
        position: relative;
        display: inline;
        margin-top: -200px;
        width: 8%;
      }
    }
    .meet__team__img__small--1{

    }
    .meet__team__img__small--2{

    }
  }
}

