#services{
  margin-bottom: 5%;
  .services__gallery{
    .row{
      &--first{
        margin-bottom: 5%;
      }
      &--second{
        margin-top: 5%;
        margin-bottom: 5%;
      }
    }
    .left{
      margin-left: 5%;
    }
    &__block{
      .title{
        text-transform: uppercase;
        font-weight: bold;
      }
      @media(min-width:1500px){
        width: 30%;
        margin-left: 1.5%;
      }
      &__pic{
        img{
          width: 32px;
          height: 31px;

        }
      }
      @media #{$xs-screen} {
        margin:5% 0 5% 0 !important;
      }
    }
    .middle-bar{
      display:inline-block;
      border: 1px solid $color-grey-middle;
      width: 90%;
      margin-left: 5%;
    }
  }
}
