#service {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    margin-top:-20%;
  }
  margin-bottom: 5%;

  .service__details {
    margin-top: 5%;
    margin-bottom: 5%;
    &__photo {
      img {
        position: absolute;
        display: block;
        right: 10px;
        margin-left: 10px;
        margin-bottom: 5%;
        @media #{$sm-screen} {
          position: relative;
          margin: 0 auto;
          right: 0;
          margin-bottom: 2%;
        }
      }
    }

    &__accordion {
      .panel-group .panel {
        border: 0 none;
        border-radius: 0;
        box-shadow: none;
        max-width: 570px;
        @media #{$sm-screen} {
          margin: 0 auto;
        }
      }

      .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        background-color: white;
        border: 2px solid $color-grey-middle;
        border-radius: 2px;
      }
      .panel-title{
        height:69px;
      }
      .panel-title > a {
        display: block;
        padding: 15px;
        position: relative;
        color: black;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        line-height: 40px;
        @media #{$xs-screen} {
          font-size: 15px;
          line-height: 20px;
        }

        &:focus,
        &:hover {
          text-decoration: none;
          outline: none;
        }

        &:after {
          //gora
          content: "\2303";
          font-family: FontAwesome;
          color: $color-grey-dark;
          position: absolute;
          right: 15px;
          top: 27px;
          font-size: 48px;
          @media #{$xs-screen} {
            font-size: 30px;
            top: 32px;
          }
        }

        &.collapsed {
          &:after {
            content: "\2304";
            font-family: FontAwesome;
            color: $color-grey-dark;
            position: absolute;
            right: 15px;
            top: -3px;
            font-size: 48px;
            @media #{$xs-screen} {
              font-size: 30px;
              top:13px;
            }
          }
          &:hover {
          }
        }
        img{
          margin-right: 3%;
        }
        p{
          display: inline-block;
          @media #{$xs-screen} {
            margin-top:2%;
          }
          @media(max-width:500px){
            margin-top: 2.5%;
          }
          @media(max-width:440px){
            margin-top: 4%;
          }

        }
      }

      .panel-body {
        background: #fff;
        color: #888;
        font-size: 13px;
        line-height: 20px;
        border: 2px solid $color-grey-middle;
        border-radius: 2px;
        max-height: 200px;
        overflow: auto;
        overflow-x: hidden;
      }

      .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top: 0 none;
      }
    }
  }
}
