#about {
  .about__info--first {
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    color: black;
    margin-top: 5%;
  }

  .about__info--second {
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin-top: 0;
    color: black;
  }

  .about__info__bar {
    display: inline-block;
    border: 2px solid $color-red;
    width: 50px;
    margin-top: 1.5%;
  }

  .about__info--text {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1.5%;
    width: 60%;
  }

  .about__gallery {
    .wrapper{
      @media #{$xs-screen}
      {
        margin-bottom: 4%;
      }
    }
    margin-top: 5%;
    margin-bottom: 10%;
    @media #{$xs-screen}
    {
      padding-left: 23.5%;
    }
    @media(max-width:740px){
      padding-left: 23%;
    }
    @media(max-width:715px){
      padding-left: 22%;
    }
    @media(max-width:690px){
      padding-left: 20%;
    }
    @media(max-width:665px){
      padding-left: 19%;
    }
    @media(max-width:640px){
      padding-left: 18%;
    }
    @media(max-width:620px){
      padding-left: 17%;
    }
    @media(max-width:590px){
      padding-left: 16%;
    }
    @media(max-width:570px){
      padding-left: 15%;
    }
    @media(max-width:550px){
      padding-left: 14%;
    }
    @media(max-width:530px){
      padding-left: 13%;
    }
    &__img {
          width: 380px;
          height: 250px;
          opacity: 1;
          z-index: 50;
          @media #{$md-screen}
          {
            width: 310px;
            height: 200px;
          }
          @media #{$sm-screen}
          {
            width: 230px;
            height: 150px;
          }
          @media #{$xs-screen}
          {
            width: 380px;
            height: 250px;
          }
          &--1 {
            background: url('../img/aboutus_pic1.png');
            background-size:cover;
          }
          &--2 {
            background: url('../img/aboutus_pic2.png');
            background-size:cover;
          }
          &--3 {
            background: url('../img/aboutus_pic3.png');
            background-size:cover;
          }
        }
        &--bg {
          width: 380px;
          height: 250px;
          opacity: 1;
          z-index: -100;
          position: absolute;
          background-color: $color-blue;
          @media #{$md-screen}
          {
            width: 310px;
            height: 200px;
          }
          @media #{$sm-screen}
          {
            width: 230px;
            height: 150px;
          }
          @media #{$xs-screen}
          {
            width: 380px;
            height: 250px;
          }
        }
        &--top {
          width: 380px;
          height: 250px;
          opacity: 0;
          z-index: 90;
          position: absolute;
          background: linear-gradient($color-red, $color-yellow);
          img{
            display: block;
            margin:auto;
            margin-top: 15%;
            @media #{$xs-screen}
            {
              margin-top: 20%;
            }
          }
          span{
            text-transform: uppercase;
            font-weight: bold;
            color:white;
            display:block;
            @media #{$xs-screen}
            {
              margin-top: 5%;
            }
          }
          @media #{$md-screen}
          {
            width: 310px;
            height: 200px;
          }
          @media #{$sm-screen}
          {
            width: 230px;
            height: 150px;
          }
          @media #{$xs-screen}
          {
            width: 380px;
            height: 250px;
          }
          &:hover {
            opacity: 0.8;
            margin-top: -15px;
            margin-left: -15px;
            margin-bottom: 15px;
            -webkit-transition: all 0.7s ease-out;
            -moz-transition: all 0.7s ease-out;
            -ms-transition: all 0.7s ease-out;
            -o-transition: all 0.7s ease-out;
            transition: all 0.7s ease-out;

          }
          &:hover img {
            opacity: 1 !important;
          }
          &:hover + .about__gallery__img {
            margin-bottom: 15px;
            margin-top: -15px;
            margin-left: -15px;
            -webkit-transition: all 0.7s ease-out;
            -moz-transition: all 0.7s ease-out;
            -ms-transition: all 0.7s ease-out;
            -o-transition: all 0.7s ease-out;
            transition: all 0.7s ease-out;
          }
        }

  }
}
