#about {

  .about__gallery {
    width:90%;
    margin:auto;
    margin-bottom: 5%;
    margin-top: 5%;
    padding-left: 2%;

    @media(max-width:1250px){
      padding-left: 1%;
    }
    @media(max-width:1170px){
      padding-left: 0;
    }
    @media(max-width:1100px){
      padding-left: 1%;
    }
    .wrapper{

      @media #{$xs-screen}
      {
        margin-bottom: 4%;
      }
    }
    @media #{$xs-screen}
    {
      padding-left: 27.5%;
    }
    @media(max-width:730px){
      padding-left: 26.5%;
    }
    @media(max-width:700px){
      padding-left: 25.5%;
    }
    @media(max-width:670px){
      padding-left: 24.5%;
    }
    @media(max-width:640px){
      padding-left: 22.5%;
    }
    @media(max-width:610px){
      padding-left: 21.5%;
    }
    @media(max-width:580px){
      padding-left: 20.5%;
    }
    @media(max-width:550px){
      padding-left: 18.5%;
    }
    @media(max-width:520px){
      padding-left: 16.5%;
    }
    @media(max-width:490px){
      padding-left: 15.5%;
    }
    @media(max-width:460px){
      padding-left: 12.5%;
    }
    @media(max-width:430px){
      padding-left: 10.5%;
    }
    @media(max-width:400px){
      padding-left: 8.5%;
    }
    @media(max-width:370px){
      padding-left: 4.5%;
    }
    @media(max-width:340px){
      padding-left: 3.5%;
    }
    @media(max-width:310px){
      padding-left: 0;
    }


    &__img {
      width: 380px;
      height: 250px;
      opacity: 1;
      z-index: 50;
      @media(max-width:1340px){
        width: 320px;
        height: 210px;
      }
      @media #{$md-screen}
      {
        width: 310px;
        height: 200px;
      }
      @media(max-width:1100px){
        width: 270px;
        height: 175px;
      }
      @media #{$sm-screen}
      {
        width: 230px;
        height: 150px;
      }
      @media(max-width:880px){
        width: 190px;
        height: 125px;
      }
      @media #{$xs-screen}
      {
        width: 230px;
        height: 150px;
      }
      &--1 {
        background: url('../img/aboutus_pic1.png');
        background-size:cover;
      }
      &--2 {
        background: url('../img/aboutus_pic2.png');
        background-size:cover;
      }
      &--3 {
        background: url('../img/aboutus_pic3.png');
        background-size:cover;
      }
    }
    &--bg {
      width: 380px;
      height: 250px;
      opacity: 1;
      z-index: -100;
      position: absolute;
      background-color: $color-blue;
      @media(max-width:1340px){
        width: 320px;
        height: 210px;
      }
      @media #{$md-screen}
      {
        width: 310px;
        height: 200px;
      }
      @media(max-width:1100px){
        width: 270px;
        height: 175px;
      }
      @media #{$sm-screen}
      {
        width: 230px;
        height: 150px;
      }
      @media(max-width:880px){
        width: 190px;
        height: 125px;
      }
      @media #{$xs-screen}
      {
        width: 230px;
        height: 150px;
      }
    }
    &--top {
      width: 380px;
      height: 250px;
      opacity: 0;
      z-index: 90;
      position: absolute;
      background: -webkit-linear-gradient($color-red-08, $color-yellow-08);
      background: -o-linear-gradient($color-red-08, $color-yellow-08);
      background: -moz-linear-gradient($color-red-08, $color-yellow-08);
      background: linear-gradient($color-red-08, $color-yellow-08);
      img{

        display: block;
        margin:auto;
        margin-top: 25%;
        @media #{$xs-screen}
        {
          margin-top: 20%;
        }
      }

      span{
        text-transform: uppercase;
        font-weight: bold;
        color:white;
        display:block;
        @media #{$xs-screen}
        {
          margin-top: 5%;
        }
      }
      @media(max-width:1340px){
        width: 320px;
        height: 210px;
      }
      @media #{$md-screen}
      {
        width: 310px;
        height: 200px;
      }
      @media(max-width:1100px){
        width: 270px;
        height: 175px;
      }
      @media #{$sm-screen}
      {
        width: 230px;
        height: 150px;
      }
      @media(max-width:880px){
        width: 190px;
        height: 125px;
      }
      @media #{$xs-screen}
      {
        width: 230px;
        height: 150px;
      }
      &:hover {
        opacity: 1;
        margin-top: -15px;
        margin-left: -15px;
        margin-bottom: 15px;
        -webkit-transition: all 0.7s ease-out;
        -moz-transition: all 0.7s ease-out;
        -ms-transition: all 0.7s ease-out;
        -o-transition: all 0.7s ease-out;
        transition: all 0.7s ease-out;

      }
      &:hover img {
        opacity: 1 !important;
      }
      &:hover + .about__gallery__img {
        margin-bottom: 15px;
        margin-top: -15px;
        margin-left: -15px;
        -webkit-transition: all 0.7s ease-out;
        -moz-transition: all 0.7s ease-out;
        -ms-transition: all 0.7s ease-out;
        -o-transition: all 0.7s ease-out;
        transition: all 0.7s ease-out;
      }
    }

  }
}
