$color-blue:rgb(149,225,211);
$color-grey:rgb(248,248,248);
$color-red: rgb(243,129,129);
$color-red-08: rgba(243,129,129,0.8);
$color-yellow-08:rgba(252,227,138,0.8);
$color-yellow:rgb(252,227,138);
$color-red-08: rgba(243,129,129,0.8);
$color-yellow-08:rgba(252,227,138,0.8);
$color-grey-light:rgb(217,217,217);
$color-grey-middle:rgb(229,229,229);
$color-grey-dark:rgb(153,153,153);

$gradient-bottom: RGB(252,226,138);
$gradient-top: RGB(244,140,130);

$md:1200px;
$sm:992px;
$xs:768px;

$md-screen: "only screen and (max-width : 1200px)";
$sm-screen: "only screen and (max-width : 992px)";
$xs-screen: "only screen and (max-width : 768px)";

$max-img-width: 380px;
